    <!-- Begin page content -->
    <!-- Tab -->     
    <div class="container" style="margin-top: 50px; padding: 0 15px;">
      <div class="dropshadow"> 
          <div id="navmenu" class="content-menu">
              <span class="active tab-item" style="border-right: 1px solid #4e89bd;"><a href="#/prisms/about/#overview">About</a></span>
              <span class="tab-item"><a href="#/prisms/about/#goal">Goal</a></span>
              <span class="tab-item"><a href="#/prisms/about/#research">Research</a></span>
              <span class="tab-item"><a href="#/prisms/about/#funding">Funding</a></span>
              <span class="tab-item"><a href="#/prisms/about/#collab">Collaborators</a></span> 
              <span class="tab-item"><a href="#/prisms/about/#contact">Contact</a></span>             
          </div>
   
          <div class="about-area">

          <h2 style="padding-top: 160px; margin-top: -70px;" class="tab-content-title" id="overview">About PRISMS</h2>
          <h2 class="tab-content-title" id="overview">About PRISMS</h2>
            <p class="tab-content-details">
              Combining the efforts of computational and experimental researchers, the goal of this Center is development of an integrated suite of validated computational tools that are designed to accelerate the development of new structural metals.</p>

            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br> 

          <h2 class="tab-content-title anchor" id="goal">Goal</h2>
            <p class="tab-content-details" >
              The goals of our Center are:
            </p>
            <ol>
              <li class="about_list">
                Establish an Integrated Multi-Scale Modeling Framework and Open Source Software (PRISMS)</li>
              <li class="about_list">
                Develop Advanced Open Source Computational Methods</li>
              <li class="about_list">
                Tightly Couple Experiments and Models</li>
              <li class="about_list">
                Application and Validation – PRISMS Demonstrator: Magnesium, Fatigue & Ductility</li>
              <li class="about_list">
                Establish the Materials Commons: An Open Source Knowledge Repository and Virtual Collaboration Platform for the PRISMS Community</li>

              </ol>
            </p>
          <br>
          <h2 class="tab-content-title anchor" id="research">Research</h2>
            <p class="tab-content-details">
              

              <p class-"tab-content-subtitle">Center Computing Resources</p>

              <p class="tab-content-details anchor">The PRISMS Center has a dedicated 2072 core cluster for running our models on. The cluster will be shared by our different research groups as they develop our advanced open source computational models.ntegrated Computational Materials Engineering.
            </p>
          <br>
          <h2 class="tab-content-title anchor" id="funding">Funding</h2>
            <p class="tab-content-details">
              The Center is funded by a five year $11M grant from Department of Energy Basic Energy Science. This has been coupled with $1.5M in cost-shared from UM, College of Engineering and the faculty and departments involved. The funding comes from the <a class="main_link" href="http://www.whitehouse.gov/mgi" target="_blank">Materials Genome Initiative</a>, President Obama’s plan to double the speed with which American scientists and engineers discover, develop, and manufacture new materials.
            </p>
          <br>

          <h2 class="tab-content-title anchor" id="collab">Collaborators</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h2 class="tab-content-title anchor" id="contact">Contact</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
            <br><br><br>
        </div>
  </div>
  <!--End of Tab-->
  <script type="text/javascript">
    $(document).ready(function(){
      var didScroll;
      var lastScrollTop = 0;
      var delta = 5;
      var navbarHeight = $('.content-menu').outerHeight();
      //on scroll, let the interval function know the user has scrolled
      $(window).scroll(function(event){
        didScroll = true;
      });
      //run hasScrolled() and reset didScroll
      setInterval(function(){
        if(didScroll){
          hasScrolled();
          didScroll = false;
        }
      }, 250);

      function hasScrolled(){
        var st = $(this).scrollTop();
        //make sure they scroll more than delta
        if(Math.abs(lastScrollTop - st) <= delta)
          return;
        //if they scrolled down and past the navbar, add class nav-up
        if(st > lastScrollTop && st >navbarHeight){
          $('#navmenu').removeClass('nav-down').addClass('nav-up');
        } else {
          //scroll up
          //if did not pass the document
          if(st + $(window).height() < $(document).height()){
            $('#navmenu').removeClass('nav-up').addClass('nav-down');
          }
        }
        lastScrollTop = st;
      }

      $('#navmenu').css('width', $('.container').width());
      $(window).resize(function(){
        $('#navmenu').css('width', $('.container').width());
      });
    });
    
    </script>

