

    <!-- Begin page content -->
    <!-- Tab -->     
    <div class="container" style="margin-top: 50px; padding: 0 15px;">
      <div class="dropshadow"> 
          <div class="content-menu">
              <span class="active tab-item" style="border-right: 1px solid #4e89bd;"><a href="#/prisms/about/#overview">About</a></span>
              <span class="tab-item"><a href="#/prisms/about/#goal">Goal</a></span>
              <span class="tab-item"><a href="#/prisms/about/#funding">Funding</a></span>
              <span class="tab-item"><a href="#/prisms/about/#research">Research</a></span>
              <span class="tab-item"><a href="#/prisms/about/#collab">Collaborators</a></span> 
              <span class="tab-item"><a href="#/prisms/about/#contact">Contact</a></span>             
          </div>
   
          <div class="about-area">
   

          <h2 class="tab-content-title" id="overview">About PRISMS</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br> 

          <h2 class="tab-content-title" id="goal">Goal</h2>
            <p class="tab-content-details" >
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>

          <h2 class="tab-content-title" id="funding">Funding</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h2 class="tab-content-title" id="research">Research</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h2 class="tab-content-title" id="collab">Collaborators</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h2 class="tab-content-title" id="contact">Contact</h2>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
            <br><br><br>
        </div>
  </div>
  <!--End of Tab-->
   <script type="text/javascript">
    $(document).ready(function(){
      $('#fixedNav').affix({
      offset: {
        top: $('#aboutPic').height(),
        bottom: 250
      }
    });
      
      $('#fixedNav').css('width', $('.container').width());
      $(window).resize(function(){
        $('#fixedNav').css('width', $('.container').width());
     });

    }); 
    </script>
