
    <!-- Begin page content -->
    <div id="aboutPic" class="container" style="padding-bottom: 15px">
      <!--About Page Picture-->
      <div class="about_pic">
        <img src="assets/img/about_main_pic.png">
      </div>
    </div>
   

      <!-- Tab -->     
        <div class="container" style="padding:0 15px 28px">
          <div id="fixedNav">
            <div id="scrollNav" class="tab_wrap">
              <ul class="nav nav-tabs tab_nav" role="tablist">
                <li class="active"><a href="#overview">Overview</a></li>
                <li><a href="#/prisms/about/#goal">Goal</a></li>
                <li><a href="#/prisms/about/#funding">Funding</a></li>
                <li><a href="#/prisms/about/#research">Research</a></li>
                <li><a href="#/prisms/about/#collab">Collaborators</a></li>
                <li><a href="#/prisms/about/#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        <div class="scrollArea" data-spy="scroll" data-target="#/prisms/about/#scrollNav" data-offset="45">
          <h3 class="tab-content-title" id="overview">About PRISMS</h3>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br> 

          <h3 class="tab-content-title" id="goal">Goal</h3>
            <p class="tab-content-details" >
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>

          <h3 class="tab-content-title" id="funding">Funding</h3>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h3 class="tab-content-title" id="research">Research</h3>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h3 class="tab-content-title" id="collab">Collaborators</h3>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
          <br>
          <h3 class="tab-content-title" id="contact">Contact</h3>
            <p class="tab-content-details">
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.<br>
              Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
            </p>
            <br><br><br><br><br><br>
        </div>
  </div>
  <!--End of Tab-->
