<div class="container" style="margin-top: 50px; padding: 0 15px;">
    <div class="dropshadow">
        <h4>Collaborators</h4>

        <p class="tab-content-details">
            Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
            of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
            Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
            the Integrated Computational Materials Engineering.<br>
            Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
            of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
            Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
            the Integrated Computational Materials Engineering.<br>
            Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
            of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
            Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
            the Integrated Computational Materials Engineering.
        </p>
    </div>
</div>