<div class="container">
    <div class="row" style="padding-top:40px;">
        <div >
            <p class="tab-content-subtitle">Prisms Computational Tools</p>

            <p class="tab-content-details">The PRISMS Center has a dedicated 2072 core cluster for running
                our
                models on. The cluster will be shared by our different research groups as they develop our
                advanced open source computational models.ntegrated Computational Materials Engineering.
            </p>
            <div class="row">
                <a ng-click="openImg()"><img src="assets/img/prisms-flowchart.png"> </a> <br>
            </div>
        </div>
    </div>

</div>