<!-- Begin page content -->
<!-- Tab -->
<div class="container" style="margin-top: 50px; padding: 0 15px;">
    <div class="dropshadow">
        <!-- Begin page content -->

        <div class="contact-area">
            <h2>Contact</h2>
            <br>
            <p>I'm interested in <a href="mailto:prisms-center@umich.edu?subject=Collaborting on PRISMS">collaborating.</a></p>
            <p>I'd like to find more about the <a href="mailto:prisms-center@umich.edu?subject=PRISMS Computational Tools">Computational Tools.</a></p>
            <p>Tell me about <a href="mailto:prisms-center@umich.edu?subject=Materials Commons">Materials Commons.</a></p>
        </div>
    </div>
</div>
