

    <!-- Begin page content -->
    <div class="main_container">
    
    <!--Mainpage Picture-->
      <div class="main_pic">
        <h1></h1>
      </div>
    </div>
   
    <div class="container">
    <!--Main Area-->
      <div class="main_area">
        <!-- circle flowchart-->
          <div class="main_top row">

              <div id="circles" class="col-xs-4">
                  <div id="circle_mc" class="circle_mc transparent">
                      <div class="circle_text">
                        <h4>Materials Commons</h4>
                      </div>
                  </div>
                  <div id="circle_code" class="circle_code transparent">
                      <div class="circle_text">
                        <h4 style="padding-top: 4px;">Code</h4>
                      </div>
                  </div>
                  <div id="circle_sci" class="circle_sci transparent">
                      <div class="circle_text">
                        <h4 style="padding-top: 4px;">Science</h4>
                      </div>
                  </div> 
                </div>
                  <!-- circle description-->
              <div id="circles_description" class="col-xs-8">
                <div id="circle_description_integ">
                  <h2>Integration</h2>
                  <p>Combining the efforts of computational and experimental researchers, the goal of this Center is development of an integrated suite of validated computational tools thazt are designed to accelerate the development of new structural metals.
                  </p>
                </div>
              </div>
            </div>

          <div class="main_middle row">
               <!-- Overview -->
              <div class="overview col-xs-12">
                  <h2>Overview</h2>                   
                  <p>
                    Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of the Integrated Computational Materials Engineering.
                  </p>
                  <a href="about.html" class="main_link">More >></a>
              </div><!--End of Overview-->
          </div>
      </div>
    </div>