

    <!-- Begin page content -->
    <!-- Tab -->     
    <div class="container" style="margin-top: 50px; padding: 0 15px;">
      <div class="dropshadow">
        <div id="fixedNav">
          <div id="scrollNav" class="tab_wrap">
            <ul class="nav nav-tabs tab_nav" role="tablist">
              <li class="active"><a href="#facultystaff">Faculty &amp; Staff</a></li>
              <li><a href="#student">Student</a></li>
            </ul>
          </div>
        </div>
        <div class="scrollArea-people" data-spy="scroll" data-target="#scrollNav" data-offset="25">
          <!--Faculty and Staff-->
          <h3 id="facultystaff" class="tab-content-title">Faculty and Staff</h3>
          <!--Start of one person-->
          <div class="people-container row"> 
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/John_Allison.jpg" alt="John_Allison">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. John Allison - Center Director</h4>
                  <p>Email: <a class="main_link" href="mailto:johnea@umich.edu">johnea@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/johnea" target="_blank">http://www.mse.engin.umich.edu/people/johnea</a></p>
                  <p>
                    My major research interest is in understanding the inter-relationships between processing, alloying, microstructure and properties in metallic materials – and in incorporating this knowledge into computational tools for use in research, education and engineering.
                  </p>
                </div>
             </div>
         </div><!--End of one person-->

           <!--Start of one person-->
           <div class="people-container row"> 
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/krishna2.jpg" alt="Krishna Garikipati">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. Krishna Garikipati</h4>
                  <p>Email: <a class="main_link" href="mailto:krishna@umich.edu">krishna@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~krishna/" target="_blank">http://www-personal.umich.edu/~krishna/</a></p>
                  <p>
                    Broadly, my research interests are in developing mathematical and computational models of physical systems. With relevance to the PRISMS Center this consists of continuum scale models of coupled mechano-chemical phenomena in materials physics. 
                  </p>
                </div>
              </div>
           </div><!--End of one person-->

          <!--Student-->
          <!--<h3 id="student" class="tab-content-title">Student</h3>-->
          <!--Start of one person-->
          <div class="people-container row">
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/vikramg.jpg" alt="Vikram Gavini">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. Vikram Gavini</h4>
                  <p>Email: <a class="main_link" href="mailto:vikramg@umich.edu">vikramg@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~vikramg/index.html" target="_blank">http://www-personal.umich.edu/~vikramg/index.html</a></p>
                  <p>
                    Developing computational and mathematical tools for electronic structure calculations at macroscopic scales, multi-scale modeling, analysis of approximation theories, electronic structure studies on defects in solids.
                  </p>
                </div>
              </div>
            </div><!--End of one person-->

              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/Katsuyo_Thornton.jpg" alt="Katsuyo_Thornton">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Katsuyo Thornton</h4>
                    <p>Email: <a class="main_link" href="mailto:kthorn@umich.edu">kthorn@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/faculty/thornton" target="_blank">http://www.mse.engin.umich.edu/people/faculty/thornton</a></p>
                    <p>
                      My research focuses on computational and theoretical investigations of the evolution of microstructures and nanostructures during processing and operation. 
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
      </div><!--End of scrollArea-->
  </div><!--End of dropshadow-->
</div>
  <!--End of Tab-->
  <script type="text/javascript">
    $(document).ready(function(){
       $('#fixedNav').affix({
          offset: {
            top: 0
          }
        });
      
      $('#fixedNav').css('width', $('.container').width());
      
      $(window).resize(function(){
         $('#fixedNav').css('width', $('.container').width());
       });
       
       $('.people-container').each(function(){
          var maxheight = 0;
          if($(this).height() > maxheight){
            maxheight = $(this).height();
          }
          $('.people-container').height(maxheight);
          $('.people-pic').height(maxheight);
          $('.people-description').height(maxheight);

          });
     });
     
    
    </script>
