

    <!-- Begin page content -->
    <!-- Tab -->     
    <div class="container" style="margin-top: 50px; padding: 0 15px;">
      <div class="dropshadow"> 
          <div id='navmenu' class="content-menu">
              <span class="active tab-item" style="border-right: 1px solid #ccc;"><a href="#/prisms/people/#facultystaff">Faculty &amp; Staff</a></span>
              <span class="tab-item"><a href="#/prisms/people/#student">Student</a></span>
          </div>
   
          <div class="people-area">
          <!--Faculty and Staff-->
          <h2 id="facultystaff" style="padding-top: 120px; margin-top: -70px;">Faculty and Staff</h2>
          <!--Start of one person-->
          <div class="people-container row"> 
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/people/John_Allison.jpg" alt="John_Allison">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. John Allison - Center Director</h4>
                  <p>Email: <a class="main_link" href="mailto:johnea@umich.edu">johnea@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/johnea" target="_blank">http://www.mse.engin.umich.edu/people/johnea</a></p>
                  <p>
                    My major research interest is in understanding the inter-relationships between processing, alloying, microstructure and properties in metallic materials – and in incorporating this knowledge into computational tools for use in research, education and engineering.
                  </p>
                </div>
             </div>
         </div><!--End of one person-->

           <!--Start of one person-->
           <div class="people-container row"> 
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/people/krishna2.jpg" alt="Krishna Garikipati">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. Krishna Garikipati</h4>
                  <p>Email: <a class="main_link" href="mailto:krishna@umich.edu">krishna@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~krishna/" target="_blank">http://www-personal.umich.edu/~krishna/</a></p>
                  <p>
                    Broadly, my research interests are in developing mathematical and computational models of physical systems. With relevance to the PRISMS Center this consists of continuum scale models of coupled mechano-chemical phenomena in materials physics. 
                  </p>
                </div>
              </div>
           </div><!--End of one person-->

          <!--Student-->
          <!--<h3 id="student" class="tab-content-title">Student</h3>-->
          <!--Start of one person-->
          <div class="people-container row">
              <!--People Portrait-->
              <div class="people-pic col-xs-3">
                <div class="vertical-center"><img class="portrait" src="assets/img/people/vikramg.jpg" alt="Vikram Gavini">
                </div>
              </div>
              
              <!--People Description-->
              <div class="people-description col-xs-9">
                <div class="vertical-center">
                  <h4 class="people-title">Dr. Vikram Gavini</h4>
                  <p>Email: <a class="main_link" href="mailto:vikramg@umich.edu">vikramg@umich.edu</a></p>
                  <p>
                  <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~vikramg/index.html" target="_blank">http://www-personal.umich.edu/~vikramg/index.html</a></p>
                  <p>
                    Developing computational and mathematical tools for electronic structure calculations at macroscopic scales, multi-scale modeling, analysis of approximation theories, electronic structure studies on defects in solids.
                  </p>
                </div>
              </div>
            </div><!--End of one person-->

              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/Katsuyo_Thornton.jpg" alt="Katsuyo_Thornton">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Katsuyo Thornton</h4>
                    <p>Email: <a class="main_link" href="mailto:kthorn@umich.edu">kthorn@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/faculty/thornton" target="_blank">http://www.mse.engin.umich.edu/people/faculty/thornton</a></p>
                    <p>
                      My research focuses on computational and theoretical investigations of the evolution of microstructures and nanostructures during processing and operation. These investigations facilitate the understanding of the underlying physics of materials to aid us in designing advanced materials with desirable properties and in developing manufacturing processes that are the most cost-effective.
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/Anton_Van der Ven.jpg" alt="Anton_Van der Ven">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Anton Van der Ven</h4>
                    <p>Email: <a class="main_link" href="mailto:avdv@umich.edu">avdv@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/faculty/vanderven" target="_blank">http://www.mse.engin.umich.edu/people/faculty/vanderven</a></p>
                    <p>
                       I am interested in understanding and predicting equilibrium and non-equilibrium materials properties from first-principles. I combine electronic structure methods (density functional theory) with techniques from statistical mechanics to calculate thermodynamic and kinetic properties of new materials. 
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/veera2.jpg" alt="Veera Sundararaghavan">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Veera Sundararaghavan</h4>
                    <p>Email: <a class="main_link" href="mailto:veeras@umich.edu">veeras@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~veeras/" target="_blank">http://www-personal.umich.edu/~veeras/</a></p>
                    <p>
                      Prof. Sundararaghavan develops multi-scale computational methods for polycrystalline alloys, fiber reinforced composites, metallic foams and ultra-high temperature ceramics to model the effect of microstructure on the overall deformation, fatigue, failure, thermal transport and oxidation response. 
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/rudraa.jpg" alt="Shiva Rudraraju">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Shiva Rudraraju</h4>
                    <p>Email: <a class="main_link" href="mailto:rudraa@umich.edu">rudraa@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="http://www-personal.umich.edu/~rudraa/" target="_blank">http://www-personal.umich.edu/~rudraa/</a></p>
                    <p>
                      My current research involves analytical and computational modeling of coupled multiscale* phenomena in material physics and biology, spanning mechanics, transport, thermodynamics and phase transitions. Specifically, I am investigating chemo-mechanical coupling of phase transformations involved in battery materials.
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/brian.jpg" alt="Brian Puchala">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Brian Puchala</h4>
                    <p>Email: <a class="main_link" href="mailto:bpuchala@umich.edu">bpuchala@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="" target="_blank"></a></p>
                    <p>
                      My research is focused on computational materials modeling of the thermodynamics and kinetics of solid-state atomistic processes through the development of new automated computational tools. In particular, I am developing Monte Carlo methods which I use for fundamental studies of phase transitions and precipitate formation in metal alloys. 
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
              <!--Start of one person-->
              <div class="people-container row">
                <!--People Portrait-->
                <div class="people-pic col-xs-3">
                  <div class="vertical-center"><img class="portrait" src="assets/img/people/LarryAagesen.jpg" alt="Larry Aagesen">
                  </div>
                </div>
                
                <!--People Description-->
                <div class="people-description col-xs-9">
                  <div class="vertical-center">
                    <h4 class="people-title">Dr. Larry Aagesen</h4>
                    <p>Email: <a class="main_link" href="mailto:laagesen@umich.edu">laagesen@umich.edu</a></p>
                    <p>
                    <p>Research: <a class="main_link" href="" target="_blank"></a></p>
                    <p>
                      My research interests are in the use of theoretical and computational techniques to study the evolution of microstructures and nanostructures during crystal growth, phase transformations and coarsening, and how this evolution affects material properties in metals and semiconductors. 
                    </p>
                  </div>
                </div>
              </div><!--End of one person-->
      </div><!--End of scrollArea-->
  </div><!--End of dropshadow-->
</div>
  <!--End of Tab-->
  <script type="text/javascript">
    $(document).ready(function(){
      var didScroll;
      var lastScrollTop = 0;
      var delta = 5;
      var navbarHeight = $('.content-menu').outerHeight();
      //on scroll, let the interval function know the user has scrolled
      $(window).scroll(function(event){
        didScroll = true;
      });
      //run hasScrolled() and reset didScroll
      setInterval(function(){
        if(didScroll){
          hasScrolled();
          didScroll = false;
        }
      }, 250);

      function hasScrolled(){
        var st = $(this).scrollTop();
        //make sure they scroll more than delta
        if(Math.abs(lastScrollTop - st) <= delta)
          return;
        //if they scrolled down and past the navbar, add class nav-up
        if(st > lastScrollTop && st >navbarHeight){
          $('#navmenu').removeClass('nav-down').addClass('nav-up');
        } else {
          //scroll up
          //if did not pass the document
          if(st + $(window).height() < $(document).height()){
            $('#navmenu').removeClass('nav-up').addClass('nav-down');
          }
        }
        lastScrollTop = st;
      }

      $('#navmenu').css('width', $('.container').width());
      $(window).resize(function(){
        $('#navmenu').css('width', $('.container').width());
      });
       //people pic and description height    
       $('.people-container').each(function(){
          var maxheight = 0;
          if($(this).height() > maxheight){
            maxheight = $(this).height();
          }
          $('.people-container').height(maxheight);
          $('.people-pic').height(maxheight);
          $('.people-description').height(maxheight);
          });
     });
     
    
    </script>
