<!-- Begin page content -->
<!-- Tab -->
<div class="container" style="margin-top: 50px; padding: 0 15px;">
    <div class="dropshadow">
        <div id='navmenu' class="content-menu">
            <span class="tab-item" style="border-right: 1px solid #ccc;">
                <a ng-class="{active: isActive('/people/faculty')}" ui-sref="people.faculty">Faculty &amp;
                Staff</a></span>
            <span class="tab-item"><a ng-class="{active: isActive('/people/students')}"
                                      ui-sref="people.students">Students &amp; Post-Docs</a></span>
        </div>
        <div ui-view></div>
    </div>
</div>
<!--End of Tab-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#navmenu').css('width', $('.container').width());
        $(window).resize(function () {
            $('#navmenu').css('width', $('.container').width());
        });
        //people pic and description height
        $('.people-container').each(function () {
            var maxheight = 0;
            if ($(this).outerHeight() > maxheight) {
                maxheight = $(this).outerHeight();
            }
            $('.people-container').outerHeight(maxheight);
            $('.people-pic').outerHeight(maxheight);
            $('.people-description').outerHeight(maxheight);
        });
    });


</script>
