<div class="publications-area">
    <h2 id="presentations" style="padding-top: 120px; margin-top: -70px;">Presentations</h2>
    <br>
    <p class="publication-list">
        <span class="publication-title">A continuum framework for the treatment of machanochemically driven phase transformations with a group/subgroup character</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">17<sup>th</sup> USCNTAM, Michigan State University</span>
        <span class="publication-detail">June 19<sup>th</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Higher-order derivatives in elasticity and their application to modeling cracks, defects and solid-solid phase transformations</span>
        <span> S. Rudraraju, Z. Wang, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">NASA Glenn Research Center Cleveland</span>
        <span class="publication-detail">November 7<sup>th</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">PRISMS-PF: Massively Parallel Computational Framework for Phase Field Modeling</span>
        <span> K. Thornton, S. Rudraraju</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">The mechano-chemistry induced by non-convex free energies in solids</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">OCCAM@OCCAM</span>
        <span class="publication-detail">July 1-5, 2013</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">An isogeometric treatment of nonlinear, high-order pdes that model phase transformations in materials</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">Tom Hughes' 70<sup>th</sup> birthday</span>
        <span class="publication-detail">circa February 2013</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">A continuum framework for the treatment of mechanochemical phase transformations driven by non-convex free energies</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">WCCM, Barcelona</span>
        <span class="publication-detail">July 23<sup>rd</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Mechano-chemical solid phase transformations induced by non-convex free energies</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">AIM Seminar</span>
        <span class="publication-detail">March 28<sup>th</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Mechanochemical phase transformations in solids driven by non-convex free energies</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">UC Santa Barbara</span>
        <span class="publication-detail">November 24<sup>th</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Mechanochemical phase transformations in solids driven by non-convex free energies</span>
        <span> S. Rudraraju, A. Van Der Ven, K. Garikipati</span>
        <span class="publication-detail">MMM, Berkeley</span>
        <span class="publication-detail">October 7<sup>th</sup>, 2014</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Dislocation Dynamics Simulations of Precipitate Strengthening in an Mg-Al-Zn Alloy</span>
        <span> L.K. Aagesen, J. Miao, J. Allison, S. Aubry, T. Arsenlis</span>
        <span class="publication-detail">Lawrence Livermore National Laborator</span>
    </p>
    <br>

    <p class="publication-list">
        <span class="publication-title">Phase-Field Simulations of Precipitation in an Mg-Nd Alloy</span>
        <span> S. Rudraraju, E. Sitzmann, V. Araullo-Petters, E. Marquis, K. Thornton, J. Allison</span>
        <span class="publication-detail">3<sup>rd</sup> World Congress on Integrated Computational Materials Engineering</span>
    </p>
    <br>
    <br>
</div>
