<!-- Begin page content -->
<!-- Tab -->
<div class="container" style="margin-top: 50px; padding: 0 15px;">

    <div class="dropshadow">
        <!-- Begin page content -->
        <div id='navmenu' class="content-menu">
            <span class="tab-item" style="border-right: 1px solid #ccc;"><a href="#/prisms/publications/#publications">Publications</a></span>
            <span class="tab-item"><a href="#/prisms/publications/#presentations">Presentations</a></span>
        </div>
        <div class="publications-area">
            <h2 id="publications" style="padding-top: 120px; margin-top: -70px;">Publications</h2>
            <br>
            <!--10-->
            <p class="publication-list">
                <span class="publication-title">Chemistry and morphology of B' precipitates in an aged Mg-Nd-Y-Zr alloy, Philosophical</span>
                <span> E. Sitzmann and E. A. Marquis</span>
                <span class="publication-detail">Nd-Y-Zr alloy, Philosophical Magazine Letters, accepted 2014, in press (2015). </span>
            </p>
            <br>
            <!--9-->
            <p class="publication-list">
                <span class="publication-title">Modeling crack propagation in polycrystalline microstructure using variational multi-scale method</span>
                <span> S. Sun and V. Sundararaghavan</span>
                <span class="publication-detail"> in International Journal of Solids and Structures, submitted (2014).</span>
            </p>
            <br>
            <!--11-->
            <p class="publication-list">
                <span class="publication-title">"Modeling fatigue failure using variational multiscale method</span>
                <span> S. Panwar, V. Sundararaghavan</span>
                <span class="publication-detail">, Computational mechanics, submitted (2014).</span>
            </p>
            <!--10-->
            <p class="publication-list">
                <span class="publication-title">Modeling crack propagation in polycrystalline alloys using a variational multiscale cohesive method</span>
                <span> V. Sundararaghavan, S. Sun</span>
                <span class="publication-detail">, 2nd World Congress on Integrated Computational Materials Engineering (Edited by M. Li et. al.), Wiley, New York, p. 225-230 (2013). </span>
            </p>
            <br>
            <!--9-->
            <p class="publication-list">
                <span class="publication-title">Electronic structure study of an edge dislocation in aluminum and the role of macroscopic deformations on its energetics</span>
                <span> M. Iyer, B. Radhakrishnan, V. Gavini</span>
                <span class="publication-detail">, J. Mech. Phys. Solids, accepted 2014, in press (2015).</span>
            </p>
            <br>
            <!--8-->
            <p class="publication-list">
                <span class="publication-title">Three-dimensional iso-geometric solutions to general boundary value problems of Toupin’s gradient elasticity theory at finite strains</span>
                <span> S. Rudraraju, A. Van der Ven,K. Garikipati</span>
                <span class="publication-detail">, Comp. Meth. App. Mech. Engrg.  (2014) </span>
            </p>
            <br>
            <!--7-->
            <p class="publication-list">
                <span class="publication-title">"A subquadratic-scaling subspace projection method for large-scale Kohn-Sham DFT calculations using spectral finite-element discretization</span>
                <span> P. Motamarri, V. Gavini</span>
                <span class="publication-detail">, Phys. Rev. B 90 115127 (2014). </span>
            </p>
            <br>
            <!--6-->
            <p class="publication-list">
                <span class="publication-title">Integrated Computational Materials Engineering</span>
                <span> J. E. Allison, M. Li, X. Su </span>
                <span class="publication-detail">in ASM Handbook on Fundamentals of Modeling for Metals Processing, Vol 22A, D. U. Furrer and S. L. Semiatin, Eds, ASM International, Metals Park, OH, 2009, pp 7-14.</span>
            </p>
            <br>
            <!--5-->
            <p class="publication-list">
                <span class="publication-title">Integrated Computational Materials Engineering: A Transformational Discipline for Improved Competitiveness and National Security</span>
                <span> Tresa M. Pollock, John E. Allison, Daniel G. Backman, Mary C. Boyce, Mark Gersh, Elizabeth A. Holm, Richard LeSar, Mike Long, Adam C. Powell, IV, John J. Schirra, Deborah Demania Whitis, Christoper Woodward </span>
                <span class="publication-detail">The National Academies Press, 500 Fifth Street, N.W. Washington, DC 20001, 2008.</span>
            </p>
            <br>
            <!--4-->
            <p class="publication-list">
                <span class="publication-title">Integrated Computational Materials Engineering: A Perspective on Progress and Future Steps</span>
                <span> John Allison </span>
                <span class="publication-detail">JOM, The Mineral, Metals and Materials Society, Warrendale, PA April 2011, p 15.</span>
            </p>
            <br>
            <!--3-->
            <p class="publication-list">
                <span class="publication-title">Integrated Computational Materials Engineering for Magnesium in Automotive Body Applications</span>
                <span> John E. Allison, Baicheng Liu, Kevin Boyle, Lou Hector, Robert McCune </span>
                <span class="publication-detail">in Magnesium Technology, Proceedings of 2010 TMS Symposia, TMS (The Minerals, Metals & Materials Society), Warrendale, PA, 2010.</span>
            </p>
            <br>
            <!--2-->
            <p class="publication-list">
                <span class="publication-title">Integrated Computational Materials Engineering: A New Paradigm for the Global Materials Profession</span>
                <span> John Allison, Dan Backman and Leo Christodoulou </span>
                <span class="publication-detail">JOM, The Mineral, Metals and Materials Society, Warrendale, PA, November 2006, pp. 25-27.</span>
            </p>

            <br>
            <!--1-->
            <p class="publication-list">
                <span class="publication-title">Virtual Aluminum Castings: An Industrial Application of ICME</span>
                <span> John Allison, Mei Li, C. Wolverton and XuMing Su </span>
                <span class="publication-detail">JOM, The Mineral, Metals and Materials Society, Warrendale, PA, November 2006, pp. 28-35.</span>
            </p>
            <br><br><br>
            <h2 id="presentations" >Presentations</h2>

        </div>


    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#navmenu').css('width', $('.container').width());
        $(window).resize(function(){
            $('#navmenu').css('width', $('.container').width());
        });
        //people pic and description height
        $('.people-container').each(function(){
            var maxheight = 0;
            if($(this).outerHeight() > maxheight){
                maxheight = $(this).outerHeight();
            }
            $('.people-container').outerHeight(maxheight);
            $('.people-pic').outerHeight(maxheight);
            $('.people-description').outerHeight(maxheight);
        });
    });


</script>

