    <!-- Begin page content -->
    <!-- Tab -->     
    <div class="container" style="margin-top: 50px; padding: 0 15px;">
    
    <div class="dropshadow"> 
    <!-- Begin page content -->
    
    <div class="resources-area">
      <h2>Resources</h2>
     <br>     
        <div class="ten columns" >
      
      <div id="contactResponse">
      </div>
      
      <br />
      <p class="Tab-content-details">Send me a message</p>
      <br />
    
      <form id="contactForm" action="submit.php" method="POST">
          <fieldset>
            <div>
                <input type="text" name="name" placeholder="NAME" required/>
            </div>
            <div>
                <input type="email" name="email" placeholder="EMAIL" required/>
            </div>
            <div>
                <textarea name="message" placeholder="MESSAGE"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
          </fieldset>
      </form>

<!-- Validations etc -->  
      <script src="files/gen_validatorv31.js" type="text/javascript">
      </script>
      <script>
        var frmvalidator  = new Validator("contactform");
        frmvalidator.addValidation("name","req","Please provide your name"); 
        frmvalidator.addValidation("email","req","Please provide your email"); 
        frmvalidator.addValidation("email","email","Please enter a valid email address"); 
      </script>

    </div>

  <script>
      $("#contactForm").submit(function(event) 
      {
         /* stop form from submitting normally */
         event.preventDefault();

         /* get some values from elements on the page: */
         var $form = $( this ),
             $submit = $form.find( 'button[type="submit"]' ),
             name_value = $form.find( 'input[name="name"]' ).val(),
             email_value = $form.find( 'input[name="email"]' ).val(),
             message_value = $form.find( 'textarea[name="message"]' ).val(),
             url = $form.attr('action');

         /* Send the data using post */
         var posting = $.post( url, { 
                           name: name_value, 
                           email: email_value, 
                           message: message_value 
                       });

         posting.done(function( data )
         {
             /* Put the results in a div */
             $( "#contactResponse" ).html(data);

         });
    });
  </script>
  </div>
        
        <br><br><br><br><br><br>
      </div>

    </div>
</div>
