<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Leading Edge Science</h2>
    <p class="tab-content-details">
The PRISMS Center is organized around four Use Case topic areas: precipitate evolution, recrystallization and grain growth, tensile behavior and 
fatigue behavior.  These Use Cases serve as demonstrations and test beds for development of the PRISMS framework.  They also serve as the 
focal point for development of our highly integrated and collaborative scientific workflows and provide a basis and approach for establishing 
group consensus on goals, priorities and scientific approaches.
    </p>
    <br><br>
    <h4>Preciptate Evolution</h4>
    <p class="tab-content-details">
    </p>
    <h4>Recrystallization and Grain Growth</h4>
    <p class="tab-content-details">
    </p>
    <h4>Tensile Behavior</h4>
    <p class="tab-content-details">
    The Tensile Behavior Use Case group is investigating and developing predictive capabilities for a wide range of complex phenomena including 
    dislocation-precipitate and dislocation-dislocation interactions in this hcp system, prediction of alloying effects on solid solution 
    strengthening and twin formation, prediction and measurements of strain distributions and the propensity for cracking at grain and twin 
    boundaries. An important aspect of the PRISMS Center is the integration of detailed microstructural simulations with property models and 
    it is in this use case that this is being accompliplished.
    </p>
    <h4>Fatigue Behavior</h4>
    <p class="tab-content-details">
    </p>
</div>
