<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        Materials Commons Open Source Software
    </h2>
    <br>
    <p class="tab-content-details">
        Materials Commons is our data repository and collaboration platform.
        In developing Materials Commons we created a suite of libraries and
        platforms for the platform. Many of these software libraries are
        platform agnostic.
    </p>
    <br>
    <p class="tab-content-details">
        Here at the PRISMS Center we love open source software (OSS). As a
        way of giving back to the community we have open sourced the entire
        Materials Commons platform and support tools. Here you will find
        libraries and tools ranging from an Erlang based monitoring solution
        to a general purpose configuration library designed for Go. We put
        a lot of effort into making sure our libraries are usable by the
        wider community.
    </p>
    <br>
    <p class="tab-content-details">
        If you are interested in learning more about Materials Commons,
        our software tools, or our general OSS initiative drop us a
        line at our <a ui-sref="contacts">contacts</a> page. We'd love
        to hear from you!
    </p>
    <br>
    <p class="tab-content-details">
        Below you find a list of all the software and modules we have
        open sourced for Materials Commons. You can also go to our page
        at <a href="https://github.com/materials-commons">GitHub</a> and
        poke around our extensive set of repositories.
    </p>
    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/materialscommons.org">
                Materials Commons
            </a>
        </span>
        <br>
        This is the main repository for the Materials Commons web application.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/mcstore">
                mcstore
            </a>
        </span>
        <br>
        mcstore handles file uploads and downloads. It deals with data integrity,
        ensuring that your uploads proceed quickly, and file de-duplication. mcstore
        handles extensions to the Flow file upload protocol.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/flow.js">
                flow.js
            </a>
        </span>
        <br>
        This is a fork of the wonderful flowjs file uploader. Here we added
        in Materials Commons specific needs, as well as extending it to
        compute block hashes when uploading files.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/mcfs">
                mcfs
            </a>
        </span>
        <br>
        mcfs is our original file uploader. There are still many great ideas
        contained in the original, and we refer to it often when adding extensions
        to mcstore.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/gen_stomp">
                gen_stomp
            </a>
        </span>
        <br>
        Do you think Erlang rocks! Would you like to use Erlang with stomp
        but in a way that looks like an Erlang Gen Server? gen_stomp is our
        implementation of a Gen Server for STOMP. Wondering what STOMP is?
        Head on over to <a href="https://stomp.github.io/index.html">Stomp</a>
        and check out this interesting protocol.
    </p>

        <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/materialscommons.org">
                AngularStomp
            </a>
        </span>
        <br>
        An AngularJS module for interacting with WEB-STOMP.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/gohandy">
                gohandy
            </a>
        </span>
        <br>
        gohandy is set of, ahem, handy utilities for Go. You can find modules
        that make it easier to deal with the file system, encryption, and other
        nuggets.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/materials">
                materials
            </a>
        </span>
        <br>
        materials is our command line interface to Materials Commons. It's currently
        going through some changes as we update it for our coming general release.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/tika-dm3-parser">
                tika-dm3-parser
            </a>
        </span>
        <br>
        The Tika DM3 Parser library is an extension for Tika for extracting
        tags and meta data from a DM3 image.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/send_file">
                send_file
            </a>
        </span>
        <br>
        send_file is a Erlang client and server for sending files across the
        network. Not currently being used by our site, its still an interesting
        utility for handling file transfers. In particular you can see how to
        do block handling in secure sockets under Erlang.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/resource_discovery">
                resource_discovery
            </a>
        </span>
        <br>
        resource_discovery is an Erlang based distributed resource discovery
        server.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/process-monitor">
                process-monitor
            </a>
        </span>
        <br>
        process-monitor is a small Erlang based process monitoring tool. It allows
        you to set up groups of services to monitor, and provides restarts and
        monitoring using Erlangs built in supervisors. You can can set up separate
        supervisors for different groups of modules.
    </p>

    <br>
    <p class="publication-list">
        <span class="publication-title">
            <a href="https://github.com/materials-commons/handyman">
                handyman
            </a>
        </span>
        <br>
        handyman is a set of utilities and modules for Erlang. It includes
        nifs for getting environment variables from Windows and Linux, translating
        between strings and Erlang terms, and other 'handy' utilities.
    </p>
</div>
