<div class="people-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Students &amp;
        Post-Docs</h2>
    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/Ellen_Sitzmann.png"
                                              alt="Ellen Sitzmann">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Ellen Sitzmann</h4>

                <p>Email: <a class="main_link" href="mailto: esitzmann@gmail.com">esitzmann@gmail.com</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    My thesis work focuses on quantifying the effects of alloying elements, aging time, and
                    temperature on the precipitation mechanisms and kinetics in Mg-Rare Earth alloys, using
                    techniques such as transmission electron microscopy and atom probe tomography. Within the
                    collaborative framework of PRIMS, my research will further our understanding of
                    precipitation processes and contribute to a complete thermodynamic and kinetic description
                    of Mg alloys.
                </p>
            </div>
        </div>
    </div>
    <!--End of one person-->

    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/jfadams.jpg"
                                              alt="Jake Adams">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Jacob Adams</h4>

                <p>Email: <a class="main_link" href="mailto: jfadams@umich.edu">jfadams@umich.edu</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    I am studying the very high cycle fatigue behavior and crack propagation mechanisms in
                    magnesium. In the PRISMS program, this work serves to identify critical mechanisms and
                    phenomena necessary for the development of computational models dealing with fatigue crack
                    growth, as well as validating results from computational models as they are developed.
                </p>
            </div>
        </div>
    </div>
    <!--End of one person-->

    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/Phani_Motamarri.jpg"
                                              alt="Phani Motamarri">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Phani Motamarri</h4>

                <p>Email: <a class="main_link" href="mailto: phanim@umich.edu">phanim@umich.edu</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    As a part of PRISMS program, I am involved in the development of an open source code for
                    real-space Kohn-Sham DFT calculations within the computational framework of PRISMS. I intend
                    to use the computational tool developed to study the dislocation properties of Magnesium and
                    its binary alloys using real space Kohn-Sham DFT.
                </p>
            </div>
        </div>
    </div>
    <!--End of one person-->

    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/SambitDas.jpg"
                                              alt="Sambit Das">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Sambit Das</h4>

                <p>Email: <a class="main_link" href="mailto: dsambit@umich.edu">dsambit@umich.edu</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    I am developing a computational framework for explicit large scale electronic structure
                    calculations of crystalline materials using a real space implementation of the Orbital Free
                    Density Functional Theory. My aim is to study the energetics and mobility of edge and screw
                    dislocations in Mg and Al. I also plan to study dislocation-solute interaction in Mg-Al
                    alloys.
                </p>
            </div>
        </div>
    </div>
    <!--End of one person-->

    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/Sriram.jpg" alt="Sriram">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Sriram Ganesan</h4>

                <p>Email: <a class="main_link" href="mailto: sriramg@umich.edu">sriramg@umich.edu</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    I am involved in integrating Crystal Plasticity Finite Element Method (CPFEM) into the
                    PRISMS framework. Crystal plasticity methods are used to simulate the response of aggregates
                    of crystals to an applied stress. My current research is focused on developing improved
                    constitutive models which can connect the physics of dislocations with the hardening rates
                    used in CPFEM calculations.
                </p>
            </div>
        </div>
    </div>
    <!--End of one person-->

    <!--Start of one person-->
    <div class="people-container row">
        <!--People Portrait-->
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/Jiashi.jpg" alt="Jiashi">
            </div>
        </div>

        <!--People Description-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <h4 class="people-title">Jiashi Miao</h4>

                <p>Email: <a class="main_link" href="mailto: miaojias@umich.edu">miaojias@umich.edu</a></p>

                <p>

                <p>Research: <a class="main_link" href=""></a></p>

                <p>
                    My research focuses on characterization of grain boundary precipitation and grain boundary
                    precipitate-free zone in magnesium alloys. These quantitative characterization results will
                    be used for computational modeling and simulation.
                </p>
            </div>
        </div>
    </div>
</div>