<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Fatigue Behavior</h2>
    <p class="tab-content-details">
        The Fatigue Behavior Use Case group is investigating and developing capabilities for predicting the role of alloying and microstructure
        on the low cycle fatigue response and the growth of microstructurally small fatigue cracks in Mg alloys.
    </p>
    <img src="assets/img/usecases/Fatigue_Behavior_2.png" width="100%"></img>
    <br>
    <h4>Integration Approach</h4>
    <p class="tab-content-details">
        The above figure provides a schematic of the PRISMS fatigue behavior scientific workflow integration protocol. As indicated in the figure, outputs from CASM calculations are used as inputs to ParaDis and PRISMS-VMM.  The ParaDis calculations will be used as inputs to the PRISMS-CPFE and PRISMS-Plasticity Codes.  Key experimental measurements have also been identified for inputs to PRISMS-CPFE and VMM. This integration protocol is very similar to that described for the Tensile Behavior use case and the integration linkages described in the tensile use case section identify the same linkages.  In addition for prediction of fatigue behavior, inputs to PRISMS-VMM will be determined by fitting fatigue crack growth "Paris Law" constants obtained from PRISMS-CPFE to critical experiments.
    </p>
    <h4>Computational Tools</h4>
    <ul class="tab-content-details">
        <li>PRISMS KS-DFT: Real Space Kohn-Sham Density Functional theory code</li>
        <li>PRISMS PF: Phase field methods code</li>
        <li>PRISMS Plasticity: Continuum Plasticity and Crystal Plasticity code</li>
    </ul>
</div>
