<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Integrated Leading Edge Science</h2>
    <p class="tab-content-details">
        The PRISMS Center is organized around four Use Case topic areas: precipitate evolution, recrystallization and grain growth, tensile behavior, and fatigue behavior.
        These Use Cases serve as demonstrations and test beds for development of the PRISMS framework.  They also serve as the focal point for our highly integrated and
        <img src="assets/img/usecases/Recrystallization_Grain_Boundary_Energies.png" align="right"></img>
        collaborative scientific workflows and provide a basis and approach for establishing group consensus on goals, priorities and scientific approaches.  Faculty and
        Staff membership in the individual teams are indicated in the narrative portion of this document.  These groups meet monthly to plan and review scientific progress
        and identify gaps and opportunities.  Each Use Group has a faculty or staff facilitator who conducts these meetings and assists the group in establishing
        collaboration plans and reviewing progress.  In 2014 each use case group conducted major reviews of goals and collaboration plans as well as the scientific workflow
        integration protocols for the use group.
    </p>
    <br><br>
    <h4>Precipitate Evolution</h4>
    <p class="tab-content-details">
        Optimal strength in Mg alloys is achieved by a very particular precipitation sequence exhibited by a variety of Mg-rare earth (RE) alloys. It
        involves the formation first of Guinier-Preston zones followed by the precipitation of nano-scale hcp-based phases (β’). Further ageing leads
        to the formation of bcc-based precipitates, referred to as β1, that form from and coexist with the original β’ precipitates. Fundamental
        <img src="assets/img/usecases/Precipitate_Simulation.png" align="left"></img>
        questions remain that need to be answered in order to enable the discovery and design of new Mg alloys with optimal strength.  For example,
        i) how can precipitation mechanisms be described theoretically such that the evolution during aging heat treatments can be predicted; and
        ii) what, in particular, about the rare-earth elements causes this favorable precipitation morphology and orientation and are there other
        non-rare-earth elements that will exhibit the same behavior. Developing predictive capabilities that address these and other questions is the
        goal of the PRISMS Precipitate Evolution Use Group. Our initial demonstration of this integrated framework is on β’ and β1 precipitate evolution
        in a Mg-Nd alloy. This is being conducted in conjunction with the Tensile Behavior use group that will be developing an integrated capability for
        predicting the influence of precipitates on strengthening and ductility of Mg-RE alloys.
    </p>
    <img src="assets/img/usecases/Precipitate_Evolution.png" width="100%"></img>
    <br><br>
    <h4>Recrystallization and Grain Growth</h4>
    <p class="tab-content-details">
        The influence of grain size, grain size distribution and grain orientations have a well-documented influence on the mechanical properties of
        metal alloys. Thus developing and demonstrating a capability for predicting these characteristics is an important PRISMS capability.  Due to
        resource constraints the primary activity of this use case group is planned to occur in the next two years. This use case also represents an
        opportunity to demonstrate the capabilities of a new computational methodology, Phase Field Crystal.
    </p>
    <img src="assets/img/usecases/Recrystallization.png" width="100%"></img>
    <br><br>
    <h4>Tensile Behavior</h4>
    <p class="tab-content-details">
        The Tensile Behavior Use Case group is investigating and developing predictive capabilities for a wide range of complex phenomena including
        dislocation-precipitate and dislocation-dislocation interactions in this hcp system, prediction of alloying effects on solid solution
        strengthening and twin formation, prediction and measurements of strain distributions and the propensity for cracking at grain and twin
        boundaries. An important aspect of the PRISMS Center is the integration of detailed microstructural simulations with property models and
        it is in this use case that this is being accompliplished.
    </p>
    <img src="assets/img/usecases/Tensile_Behavior_2.png" width="100%"></img>
    <br><br>
    <h4>Fatigue Behavior</h4>
    <p class="tab-content-details">
        The Fatigue Behavior Use Case group is investigating and developing capabilities for predicting the role of alloying and microstructure
        on the low cycle fatigue response and the growth of microstructurally small fatigue cracks in Mg alloys.
    </p>
    <img src="assets/img/usecases/Fatigue_Behavior_2.png" width="100%"></img>
</div>
