<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Integrated Leading Edge Science</h2>
    <p class="tab-content-details">
        The PRISMS Center is organized around four Use Case topic areas: precipitate evolution, recrystallization and grain growth, tensile behavior, and fatigue behavior.
        These Use Cases serve as demonstrations and test beds for development of the PRISMS framework.  They also serve as the focal point for our highly integrated and
        <img src="assets/img/usecases/Recrystallization_Grain_Boundary_Energies.png" align="right"></img>
        collaborative scientific workflows and provide a basis and approach for establishing group consensus on goals, priorities and scientific approaches.  Faculty and
        Staff membership in the individual teams are indicated in the narrative portion of this document.  These groups meet monthly to plan and review scientific progress
        and identify gaps and opportunities.  Each Use Group has a faculty or staff facilitator who conducts these meetings and assists the group in establishing
        collaboration plans and reviewing progress.  In 2014 each use case group conducted major reviews of goals and collaboration plans as well as the scientific workflow
        integration protocols for the use group.
    </p>
</div>
