<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;"
        class="tab-content-title" id="overview">Recrystallization and Grain Growth
    </h2>
    <p class="tab-content-details">
                The influence of grain size, grain size distribution and grain orientations have a well-documented influence on the mechanical properties of
        metal alloys. Thus developing and demonstrating a capability for predicting these characteristics is an important PRISMS capability.  Due to
        resource constraints the primary activity of this use case group is planned to occur in the next two years. This use case also represents an
        opportunity to demonstrate the capabilities of a new computational methodology, Phase Field Crystal.
    </p>
    <img src="assets/img/usecases/Recrystallization.png" width="100%"></img>

    <h4>Integration Approach</h4>
    <p class="tab-content-details">
        As indicated in the figure above, the scientific workflow includes CASM, Phase Field Crystal,
        PRISMS-CPFE, PRISMS-PF and critical experiments.  The primary outputs to other use
        cases is in the form of PRISMS-PF simulations of critical microstructural parameters
        such as grain size and grain size distribution. Inputs to Phase-Field Model from
        Simulations:  Using the phase-field crystal method, grain boundary energy will be
        calculated as a function of the orientations of two grains. This data will be used
        to parameterize a phase-field model for grain growth that allows for anisotropic
        grain boundary energy. Inputs to Phase-Field Model from Experiment:  To determine
        the mobility of grain boundaries critical experiments are necessary. Undeformed
        polycrystalline sample are annealed and the grain size as a function of time
        measured and from the growth kinetics the mobility can be estimated.
    </p>
    <h5>Computational Tools</h5>
    <ul class="tab-content-details">
        <li>PRISMS CASM: Statistical Mechanics code</li>
        <li>PRISMS KS-DFT: Real Space Kohn-Sham Density Functional theory code</li>
        <li>PRISMS PF: Phase field methods code</li>
    </ul>
</div>
