<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;"
        class="tab-content-title" id="overview">Tensile Behavior
    </h2>
    <p class="tab-content-details">
        The Tensile Behavior Use Case group is investigating and developing predictive capabilities for a wide range of complex
        phenomena including dislocation-precipitate and dislocation-dislocation interactions in an hcp system, prediction of
        alloying effects on solid solution strengthening and twin formation, prediction and measurements of strain distributions
        and the propensity for cracking at grain boundaries. An important aspect of the PRISMS Center is the integration of
        detailed microstructural simulations from other use groups with property models.
    </p>
    <video src="assets/media/dd150123b_1-85_3.webm" height="50%" width="50%" controls>
    </video>
    <img ng-if="false" src="assets/img/usecases/Tensile_HCP_Basal.png" height="40%" width="40%"></img>
    <p class="tab-content-details">
        Figure: Simulation using Paradis of the interaction of dislocations on hcp basal planes with gamma precipitates in a
        Mg-Al alloy (L. Aageeson, PRISMS Center with PRISMS Collaborator S. Aubry of Livermore National Laboratory).
    </p>
    <br>
    <br>

    <img src="assets/img/usecases/Tensile_Behavior_2.png" width="50%"></img>
    <br>
    <h4>Integration Approach</h4>
    <p class="tab-content-details">
        In the PRISMS Tensile Behavior integration protocol outputs from statistical mechanics calculations are used as
        inputs to the dislocation dynamics code, ParaDis and to traction separation laws using in the Variational
        Multiscale Method. In turn, the ParaDis calculations will be used as inputs to the PRISMS-Crystal Plasticity
        and PRISMS-Plasticity Codes. Key experimental measurements come from in-situ SEM-DIC measurements of grain
        orientations and local cracking, slip and grain rotations.
    </p>
    <img src="assets/img/usecases/Tensile_SEM_DIC_Deformation.png" height="40%" width="40%"></img>
    <p class="tab-content-details">
        Figure: SEM-DIC image of deformation in a Mg-Nd-Y alloys (A. Githens, PRISMS Center).
    </p>
    <br>
    <h4>Computational Tools</h4>
    <ul class="tab-content-details">
        <li>PRISMS KS-DFT: Real Space Kohn-Sham Density Functional Theory Code</li>
        <li>PRISMS Phase Field Code</li>
        <li>PRISMS Crystal Plasticity Code</li>
        <li>PRISMS Continuum Plasticity Code</li>
        <li>Mechano-Chemical Transformations Code (Research Code)</li>
    </ul>

</div>
