<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Fatigue Behavior</h2>

    <p class="tab-content-details">
        The accurate prediction of fatigue damage accumulation in materials subjected to
        cyclic deformation, known as fatigue, is a critical
        technological problem and a long-standing scientific challenge. In the Fatigue Behavior Use Case we are
        developing capabilities for predicting the role of alloying and microstructure on the low cycle fatigue response
        and the growth of microstructurally small fatigue cracks in Mg alloys. Fatigue is a property that is
        particularly sensitive to extremes of microstructure and quantifying these microstructural influences in a
        statistically significant manner is limited by conventional fatigue testing apparatus. To achieve statistically
        robust fatigue information, UM has pioneered novel diagnostic techniques integrated with unique ultrasonic
        fatigue (UF) instrumentation that can accelerate fatigue testing by a factor of 500-1000 times <a ui-sref="ctools.tools">(See Experimental
        Tools)</a>. The results of these experiments are being used to parameterize our
        crystal elasticity and plasticity models to answer questions such as how do fatigue cracks propagate across grain
        boundaries and how do these boundaries influence the fatigue crack growth rates.
    </p>

    <div class="row">
        <div class="col-xs-offset-1">
            <img style="width: 600px; height: 250px;" src="assets/img/usecases/Fatigue_Cracks.png">
        </div>
    </div>
    <div class="row tab-content-details">
        Figure: Fatigue cracks in Mg alloys are grown from carefully oriented notches "machined" using
        focused-ion beams in grains with specific orientations determined using electron backscatter diffraction.
        (J. Adams, PRISMS Center).
    </div>
    <br>
    <div class="row tab-content-details">
        <div class="col-xs-4">
            <img style="width: 350px; height: 250px;" src="assets/img/usecases/Crystal_Plasticity_Model.png">
        </div>
        <div class="col-xs-6 col-xs-offset-2" style="padding-top: 100px;">
            Figure: Crystal plasticity model of fatigue crack growth using variational multi-scale cohesive
            traction separation models. (S. Panwar, PRISMS Center)
        </div>
    </div>
    <br>
    <br>
    <div class="col-xs-10" style="">
        <h4>Figure: Fatigue Behavior Use Case Flow Diagram</h4>
    </div>
    <img src="assets/img/usecases/fatigue-integration2.png" width="100%">
    <br>
    <br>
    <h4>Integration Approach</h4>

    <p class="tab-content-details">
        In the PRISMS integrated scientific workflow integration protocol the outputs from CASM calculations are used as
        inputs to ParaDis and PRISMS-Crystal Elasticity/Plasticity with Variational Multi-Scale Method used for
        incorporating traction separation laws for slip band formation and cracking. Microstructure is passed to this
        use case using Phase Field models for precipitate evolution and grain growth. Key experimental measurements for
        calibration and validation of these models, include local crack path orientations, fatigue crack growth rates
        and low cycle fatigue lives.
    </p>

    <h4>Computational Tools</h4>
    <ul class="tab-content-details">
        <li><a href="#/ctools/software#pf">PRISMS PF: Phase Field Modeling Code</a></li>
        <li><a href="#/ctools/software#casm">CASM Statistical Mechanics Code</a></li>
        <li><a href="#/ctools/software#plasticity">PRISMS Plasticity: Continuum Platicity and Crystal Plasticity Codes</a></li>
    </ul>
</div>
