<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Integrated Leading Edge
        Science</h2>

    <p class="tab-content-details">
        To advance and demonstrate our predictive understanding in important scientific areas of research in metals, the
        PRISMS Center is organized around USE CASES involving our predictive scientific understanding of the metallic
        element magnesium and it's alloys. The PRISMS capability is meant to be generally applicable to any metallic
        system, however we are focused on magnesium as a demonstration of these capabilities.
    </p>

    <p class="tab-content-details">
        Magnesium (Mg) present an important test case for accelerated material development. Mg alloys have significant
        potential for reducing the weight of automobiles and other transportation systems – and thus for improving fuel
        economy and reducing emissions. However the behavior of Mg alloys presents a wide array of unsolved scientific
        challenges, including complex precipitation reactions, dislocation interactions in this hexagonal close packed
        (HCP) system, twin formation and growth and the influence of microstructure at all levels on tensile and fatigue
        behavior. Relative to other structural metals, the development of commercial Mg alloys and our understanding of
        Mg alloy physical metallurgy are relatively immature. While modern alloys of aluminum and nickel can have five
        to ten alloying elements, Mg alloys have remained simple and are typically based on only two or three alloying
        additions.


        <!--The PRISMS Center is organized around four Use Case topic areas: precipitate evolution, recrystallization and-->
        <!--grain growth, tensile behavior, and fatigue behavior.-->
        <!--These Use Cases serve as demonstrations and test beds for development of the PRISMS framework. They also serve-->
        <!--as the focal point for our highly integrated and-->
        <!--<img src="assets/img/usecases/Recrystallization_Grain_Boundary_Energies.png" align="right"></img>-->
        <!--collaborative scientific workflows and provide a basis and approach for establishing group consensus on goals,-->
        <!--priorities and scientific approaches.-->
        <!--These groups meet monthly to plan and review scientific progress-->
        <!--and identify gaps and opportunities. Each Use Group has a faculty or staff facilitator who conducts these-->
        <!--meetings and assists the group in establishing-->
        <!--collaboration plans and reviewing progress. In 2014 each use case group conducted major reviews of goals and-->
        <!--collaboration plans as well as the scientific workflow-->
        <!--integration protocols for the use group.-->
    </p>

    <div class="row tab-content-details">
        <div class="col-xs-12">
            <div class="col-xs-4 col-xs-offset-1">
                <img src="assets/img/science/science-overview.png" align="right">
            </div>
            <div class="col-xs-6" style="padding-top: 250px;">
                Figure: The crystal structure of magnesium is hexagonal closed packed. Deformation occurs on
                several
                "slip planes" shaded in this diagram.
            </div>
        </div>
    </div>
    <p class="tab-content-details">
        PRISMS Center integrated scientific research is organized around four USE CASES:
        precipitate evolution
        recrystallization and grain growth
        tensile behavior
        fatigue behavior
    </p>

    <p class="tab-content-details">
        These Use Cases serve as demonstrations and test beds for development of the PRISMS framework. They also serve
        as the focal point for our highly integrated and collaborative scientific workflows and provide a basis and
        approach for establishing group consensus on goals, priorities and scientific approaches. The four use cases are
        also integrated into a comprehensive whole, with understanding and results from one use case being used as
        inputs to others so that the influence of alloying and processing on microstructures can be incorporated into
        prediction of mechanical properties.
    </p>
</div>
