<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;"
        class="tab-content-title" id="overview">Recrystallization and Grain Growth
    </h2>

    <p class="tab-content-details">
        The influence of grain size, grain size distribution and grain orientations have a
        well-documented influence on the mechanical properties of metal alloys. Thus
        developing and demonstrating a capability for predicting these characteristics is
        an important PRISMS capability. This use case also represents an opportunity to
        develop and demonstrate the capabilities of a new computational methodology,
        phase-field crystal for predicting grain boundary energies.
    </p>

    <div class="row">
        <div class="col-xs-12 tab-content-details">
            <div class="col-xs-4">
                <img src="assets/img/usecases/Recrystallization_electronbackscatter.jpg" width="100%">
            </div>
        </div>
    </div>
    <p class="tab-content-details">
        Figure: Electron backscatter diffraction image showing crystal orientations of grains in a Mg-Nd-Y
        alloy (A. Murphy, PRISMS Center).
    </p>
    <div class="col-xs-10 col-xs-offset-2" style="">
        <h4>Figure: Recrystallization and Grain Growth Use Case Flow Diagram</h4>
    </div>
    <div style="margin-top: 20px;">
        <img src="assets/img/usecases/rrgg-integration2.png" width="100%">
    </div>

    <br>
    <h4>Integration Approach</h4>
    <p class="tab-content-details">
        The scientific workflow for prediction of recrystallization and grain growth
        includes phase-field crystal, PRISMS-Crystal Plasticity and PRISMS Phase
        Field and critical experiments. The primary outputs to other use cases is in
        the form of PRISMS-PF simulations of critical microstructural parameters such
        as grain size and grain size distribution.
    </p>
    <br>
    <div class="row tab-content-details">
        <img src="assets/img/usecases/Recrystallization_GBE.png" width="40%" height="40%">
    </div>
    <p class="tab-content-details">
        Figure: Grain boundary energy calculated from a phase-field crystal model
        versus misorientation compared with molecular dynamics simulation (J. Luce
        PRISMS Center; molecular dynamics simulation courtesy E. Holm, Carnegie-Mellon University).
    </p>
    <br>
    <p class="tab-content-details">
        Using the phase-field crystal method, misorientation dependence of grain boundary energy
        will be calculated as a function of the misorientations of two grains. This data will be
        used to parameterize a phase-field model for grain growth that allows for
        misorientation-dependent grain boundary energy. To determine the mobility of grain
        boundaries undeformed polycrystalline sample are annealed and the grain size as a function
        of time measured and from the growth kinetics the mobility can be estimated.
        Recrystallization rates of deformed microstructures are also determined experimentally
        for parameterization of phase field models for recrystallization.
    </p>
    <h4>PRISMS Computational Tools</h4>
    <ul class="tab-content-details">
        <li><a href="#/ctools/software#pf">PRISMS PF: Phase Field Modeling Code</a></li>
        <li><a href="#/ctools/software#plasticity">PRISMS Plasticity: Continuum Platicity and Crystal Plasticity Codes</a></li>
        <li><a href="#/ctools/software#pfc">PRISMS PFC: Phase Field Crystal Modeling Code (Research Code)</a></li>
    </ul>
</div>
