<!-- Begin page content -->
<!-- Tab -->
<div class="container subpage">
    <div class="dropshadow">
        <!-- Begin page content -->
        <div class="contact-area">
            <h2>Annual PRISMS Workshop 2019</h2>
            <p>Annual PRISMS Center Workshop - August 5-9, 2019</p>
            <p><b>Register for the workshop <a href="https://umich.irisregistration.com/Form/PRISMS2019" target="_blank">here</a>.</b></p>
            <h3 class="text-uppercase">Event Location</h3>
            <ul class="list-unstyled">
                <li>
                        August 5-7: PRISMS Software Training
                </li>
                <li>
                        August 8-9: PRISMS Center Workshop/Symposia
                </li>
                <li>
                    <p class="tab-content-details">
                        Location: University of Michigan,
                        <a href="https://campusinfo.umich.edu/building-search/building/525/bob-and-betty-beyster-building">Bob and Betty Beyster Builder</a>
                        2260 Hayward St, Ann Arbor, MI 48109
                    </p>
                </li>
                <li>August 8: PRISMS Center Poster Session and Reception</li>
                <li>
                    <p class="tab-content-details">
                        Parking: Nearby visitor parking is often challenging. Please review available metered
                        <a href="https://ltp.umich.edu/maps/north_medical.pdf"> parking</a> locations and
                        <a href="https://ltp.umich.edu/transit/routes.php">bus</a> routes in advance.
                    </p>
                </li>
            </ul>
            <h3 class="text-uppercase">Hotel Room Blocks</h3>
            <h4>Hotel: Holiday Inn Near the Univerity of Michigan</h4>
            <ul class="list-unstyled">
                <li>Address: 3600 Plymouth Road, Ann Arbor, Michigan 48015 (near North Campus/Conference Venue)</li>
                <li>Phone: (734) 769-9800</li>
                <li>Website:
                    <a href="https://uunions.umich.edu/league/inn/">The Inn at the Michigan League</a>
                </li>
                <li>Release Date: July 20, 2019</li>
                <li>Room rate: $119/Night</li>
                <li>
                    <a href="https://www.holidayinn.com/redirect?path=rates&brandCode=HI&localeCode=en&regionCode=1&hotelCode=arbnc&checkInDate=04&checkInMonthYear=072019&checkOutDate=09&checkOutMonthYear=072019&_PMID=99801505&GPC=PRI&cn=no&viewfullsite=true">Event
                        Link</a></li>
            </ul>
        </div>
    </div>
</div>
