<!-- Begin page content -->
<!-- Tab -->
<div class="container subpage">
    <div class="dropshadow">
        <!-- Begin page content -->
        <div class="contact-area font-16">
            <h2>Annual PRISMS Workshop 2022</h2>
            <p>
                The PRISMS Center Annual Workshop returns this year is a virtual event. We hope you will join us
                for interesting talks, research, and updates on the center.
            </p>
            <div>
                <ul class="list-unstyled">
                    <li class="font-16">
                        August 9-12: PRISMS Center Workshop/Symposia -
                        <a
                            href="assets/workshop/PRISMS_Virtual_Workshop_Program_2022.pdf">Program Schedule.</a>
                    </li>
                    <li>
                        August 15-19: PRISMS Software Training -
                        <a
                            href="assets/workshop/PRISMS_Workshop_Training_2022.pdf">Training Schedule</a>
                    </li>
                    <li>
                        Download VM for PRISMS Training <a href="assets/workshop/PRISMS_Tools_v4.1.ova">here</a>
                    </li>
                    <li>Download Installation Instructions for PRISMS Training VM <a href="assets/workshop/Virtual_Machine_Installation_v4.1.docx">here</a>
                    </li>
                </ul>
                <p><b>Register for the workshop <a href="https://forms.gle/aPkEY2GTdwHc3yc38"
                                                   target="_blank">here</a>.</b></p>
            </div>
        </div>
    </div>
</div>
