<div class="people-area">
    <h2 id="facultystaff" style="padding-top: 120px; margin-top: -70px;">Faculty and Staff</h2>

    <div class="people-container row">
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/John_Allison.jpg"
                                              alt="John_Allison">
            </div>
        </div>
        <!--Director-->
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <a href="#johnea@umich.edu"></a>
                <h4 class="people-title">Professor: John Allison - Center Director</h4>

                <p>Email: <a class="main_link" href="mailto:johnea@umich.edu">johnea@umich.edu</a></p>

                <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/johnea"
                                target="_blank">http://www.mse.engin.umich.edu/people/johnea</a></p>

                <p>
                    My major research interest is in understanding the inter-relationships between processing, alloying,
                    microstructure and properties in metallic materials – and, working together with others, to
                    incorporate this knowledge into computational tools for use in research, education and engineering.
                    Within the PRISMS Center, my research focus is on quantifying the influence of alloying and
                    processing on microstructural evolution and mechanical behavior in magnesium alloys.
                </p>
            </div>
        </div>
    </div>
    <div class="people-container row">
        <div class="people-pic col-xs-3">
            <div class="vertical-center"><img class="portrait" src="assets/img/people/amit.jpg"
                                              alt="Amit_Misra">
            </div>
        </div>
        <div class="people-description col-xs-9">
            <div class="vertical-center">
                <a href="#amitmis@umich.edu"></a>
                <h4 class="people-title">Professor: Amit Misra - Co PI</h4>

                <p>Email: <a class="main_link" href="mailto:amitmis@umich.edu">amitmis@umich.edu</a></p>

                <p>Research: <a class="main_link" href="http://www.mse.engin.umich.edu/people/amitmis"
                                target="_blank">http://www.mse.engin.umich.edu/people/amitmis</a></p>

                <p>
                    My research focuses on deformation mechanisms in metallic alloys and composites, transmission electron microscopy and in situ nanomechanics"
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat="person in faculty | orderBy: 'last_name'">
        <div class="people-container row">
            <div class="people-pic col-xs-3">
                <div class="vertical-center">
                    <img class="portrait" ng-src="{{person.image}}"
                         alt="{{person.first_name}} {{person.last_name}}">
                </div>
            </div>
            <!--People Description-->
            <div class="people-description col-xs-9">
                <div class="vertical-center">
                    <a href="#{{person.email}}"></a>
                    <h4 class="people-title">{{person.title }} {{person.first_name}} {{person.last_name}}</h4>

                    <p>Email: <a class="main_link" href="mailto:{{person.email}}">{{person.email}}</a></p>

                    <p ng-if="person.research">Research: <a class="main_link" href="{{person.research}}"
                                                            target="_blank">{{person.research}}</a></p>

                    <p>
                        {{person.blurb}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="person in staff | orderBy: 'last_name'">
        <div class="people-container row">
            <div class="people-pic col-xs-3">
                <div class="vertical-center">
                    <img class="portrait" ng-src="{{person.image}}"
                         alt="{{person.first_name}} {{person.last_name}}">
                </div>
            </div>
            <!--People Description-->
            <div class="people-description col-xs-9">
                <div class="vertical-center">
                    <h4 class="people-title">{{person.first_name}} {{person.last_name}} {{person.title }} </h4>

                    <p>Email: <a class="main_link" href="mailto:{{person.email}}">{{person.email}}</a></p>

                    <p ng-if="person.research">Research: <a class="main_link"
                                                            href="http://www-personal.umich.edu/~krishna/"
                                                            target="_blank">{{person.research}}</a></p>

                    <p>
                        {{person.blurb}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#end">end</a>
</div>
