<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        MaterialsCommons FAQ
    </h2>
    <dl>
        <dt>How do I sign up for an account?</dt>
        <dd>
            Both <a href="https://materialscommons.org/mcapp" target="_blank">Materials Commons Projects</a>
            and <a href="https://materialscommons.org/mcpub" target="_blank">Materials Commons Data</a> have
            registration pages. You only need to register once. An account on one site creates an account on both.
        </dd>

        <dt>Can I install my own version of MaterialsCommons?</dt>
        <dd>
            The process for installing your own version of MaterialsCommons
            is not currently documented. MaterialsCommons has a lot of
            dependencies. Our roadmap includes releasing a containerized
            version of the MaterialsCommons. This will allow you to easily
            get your own version of the site up and running using
            <a href="https://www.docker.com" target="_blank">Docker</a>.
        </dd>

        <dt>How do I know my data is safe?</dt>
        <dd>
            The MaterialsCommons backend uses an <a href="http://www.emc.com/domains/isilon/index.htm" target="_blank">Isilon</a>
            mirrored storage cluster. We keep redundant copies of your data to ensure
            its safety and availability.
        </dd>

        <dt>What happens to my data if MaterialsCommons goes away?</dt>
        <dd>
            While we are working hard to make sure that MaterialsCommons has
            a bright and sustainable future, in the event that MaterialsCommons
            does go away all your data will continue to be available. We are
            teaming with other groups (TBA) to ensure that data stored in
            MaterialsCommons will always be available.
        </dd>

        <dt>How do I learn more?</dt>
        <dd>
            Head on over to our <a ui-sref="community">COMMUNITY</a> page. We are always
            interested in working with other members of the community.
        </dd>
    </dl>
</div>
