<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Materials Commons</h2>
    <p class="tab-content-details">
        <!-- <img style="padding-right: 4px" src="assets/img/mc.png" height="50%" width="50%" align="left"> -->
        <img style="padding-right: 8px" src="assets/img/mc-dashboard.png" height="50%" width="50%" align="left"></img>
        The <a href="https://materialscommons.org" target="_blank">Materials Commons</a> is designed to be a general repository and collaboration platform for the metals community in the
        PRISMS technical emphasis areas (microstructural evolution and mechanical properties). We envision the Materials Commons

        becoming a continuous, seamless part of the scientific workflow. Researchers will upload the results of experiments and
        computations as they are performed, automatically where possible, along with the provenance information describing the
        experimental and computational processes. It will provide a common site to store, share, curate, analyze and reuse
        materials data, linking experiments and computations.
    </p>
    <br>
    <p class="tab-content-details">
        There are three main focus areas for Materials Commons: the data model for representing scientific data provenance, website
        design and usability, and development of secure and scalable storage and access. As shown in the figure, the data model consists
        of three main types of digital objects: “Datafiles”, “Samples”, and “Processes”. Datafiles are the raw files containing
        <img src="assets/img/Provenance_Model.png" align="right"></img>
        information from experiments or computations. Samples are digital objects representing experimental or virtual computational
        materials samples. Key attributes are stored in Samples so that they can be easily used for analysis and modeling. The
        provenance information that describes how datafiles and samples are created, transformed, analyzed or measured is stored in a Process.
        The relationships between Datafile, Samples, and Processes create a scientific knowledge graph that records the scientific workflow
        along with process-structure-property relationships. This enables the construction and validation of constitutive and process models.
        The data in Materials Commons is organized by projects. Users create projects, and can control access and sharing to the project.
        Data in a project can be shared across projects. This allows users to organize their data and workflow in a natural way.
    </p>
</div>
