
<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Collaborators</h2>
    <p class="tab-content-details">
        Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
        of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
        Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
        the Integrated Computational Materials Engineering.<br>
        Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
        of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
        Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
        the Integrated Computational Materials Engineering.<br>
        Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale Modeling
        of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated Structural
        Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific core of
        the Integrated Computational Materials Engineering.
    </p>
    <br><br>
</div>