<div class="container subpage">
    <div class="dropshadow">
        <!-- Begin page content -->
        <div id='navmenu' class="content-menu">
            <span class="tab-item tab-item-sep">
                <a ui-sref-active="active" ui-sref="ctools.overview">
                    OVERVIEW
                </a>
            </span>
            <span class="tab-item tab-item-sep">
                <a ui-sref-active="active" ui-sref="ctools.software">
                    SOFTWARE
                </a>
            </span>
            <span class="tab-item tab-item-sep">
                <a ui-sref-active="active" ui-sref="ctools.tools">
                    EXPERIMENTAL TOOLS
                </a>
            </span>
            <span class="tab-item">
                <a ui-sref-active="active" ui-sref="ctools.faq">
                    FAQ
                </a>
            </span>
        </div>
        <div ui-view></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#navmenu').css('width', $('.container').width());
        $(window).resize(function(){
            $('#navmenu').css('width', $('.container').width());
        });
    });
</script>
