<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        Computational Codes FAQ
    </h2>
    <dl>
        <dt>Are the computational codes available to the general public?</dt>
        <dd>
            The various codes are under active development. Initial versions of the PRISMS Software
            were release in August 2015. Major upgrades are planned for release in August in 2016.
        </dd>

        <dt>Do I need to use all the codes together, or can I just use the ones I'm interested in?</dt>
        <dd>
            Our computational codes can be used standalone, or together. We
            have an integration toolkit that makes it easy to hand data off
            across the different codes, but you are not required to use it.
        </dd>

        <dt>Can I send you pull requests?</dt>
        <dd>
            We will be open sourcing our codes. Once that happens you can
            fork our codes, make a change and send us a pull request. We are
            looking forward to working with the community to continue developing
            and enhancing these codes.
        </dd>

        <dt>How do I learn more?</dt>
        <dd>
            Head on over to our <a ui-sref="contact">COMMUNITY</a> page. We are
            always interested in collaborating with others.

        </dd>
    </dl>
</div>
