<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">PRISMS Multi-scale Framework</h2>

    <img src="assets/img/prisms-framework2.png" width="75%" height="75%" align="right">

    <p class="tab-content-details">
        The PRISMS Center software development is based on an integrated suite of multiscale/multiphysics
        computational codes developed by the various research groups affiliated with the center and are
        facilitated by the research staff and faculty in a highly collaborative environment. The codes are
        hosted at <a href="https://github.com/prisms-center" target="_blank">GitHub</a>  and are subject to our evolving best practices
        and software quality assurance (SQA). Code reviews are regularly conducted and a broadly two stage
        annual release plan involving (I) internal beta release to PRISMS members and collaborators, and (II)
        open-source public release under the GNU Lesser General Public License (LGPL) is followed. Stay tuned
        for our first public release scheduled for Summer 2015.
    </p>
    <br>
    <p class="tab-content-details">
        The PRISMS computational tools are designed to provide a general numerical framework for solutions to
        the gamut of multiscale/multiphysics problems encountered in the nano-micro-mesa-macro analysis of
        structural materials. However, given the vast generality and complexity of analytical/numerical/experimental
        challenges possible across these scales, the Center primarily focusses on three scientific challenges: (I)
        Predicting the role of alloy composition and processing on microstructure evolution (Hyper link to
        Precipitate evolution and Recrystallization and Grain Growth use cases), (II)  Prediction of tensile
        properties from first principles (Hyper link to Tensile properties use case), (III) Prediction of fatigue
        behavior (Hyper link to Fatigue behavior use case). These challenges are addressed by a combination of
        advanced numerical frameworks (hyper link to codes), experimental techniques (hyper link to tools) and
        relevant phenomenological models.
    </p>

    <br>
    <h4>PRISMS HPC Resources</h4>
    <ul class="tab-content-details">
        <li>
            Dedicated compute cluster with 136 nodes (Intel Xeon X2670 - 16 2.6GHz cores, 64GB RAM), with a total of 2176 processor cores.
        </li>

        <li>
            Nodes connected by 40Gbps InfiniBand.
        </li>

        <li>
            Part of FLUX operating environment with 640TB parallel lustre storage.
        </li>
    </ul>
</div>
