<div class="about-area">
    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">Computational Tools</h2>
    <p class="tab-content-details">
        The PRISMS Center has a dedicated 2072 core cluster for running our
        models on. The cluster will be shared by our different research groups as they develop our
        advanced open source computational models.ntegrated Computational Materials Engineering.
    </p>
    <br>
    <p class="tab-content-details">
        The PRISMS Center software is developed by participating students, post-doctoral scholars, research staff and faculty in a collaborative
        environment facilitated by code repositories such as GitHub. Reviews are conducted on a daily/weekly frequency depending on the stage of the
        specific code. All code is first released internally to PRISMS members, followed by beta releases before the first public release. Bug fixes
        <a ng-click="openImg()"><img src="assets/img/prisms-flowchart.png" align="left"> </a>
        are carried out at every stage.   Software development and release procedures have been developed by the primary faculty and staff involved.
        These faculty, staff and the Center Director meet weekly to review progress and plan.  The meetings are facilitated by Professor Krishna Garikipati.
    </p>
    <br>
    <p class="tab-content-details">
        The PRISMS computational tools are designed to be general in nature and applicable to prediction of a wide range of phenomena in structural metals,
        however, in this program, we are targeting three major scientific challenges, namely, predicting the role of alloy composition and processing on
        microstructures and, in turn, predicting the effect of alloying and microstructure on tensile and fatigue behavior.  Theories for tensile and
        fatigue property prediction are largely phenomenological and the lack of comprehensive theories for strengthening, strain hardening and, in
        particular, fatigue have limited this predictive capability.
    </p>
    <br>
</div>
