<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        PRISMS Integrated Software Framework
    </h2>
    <br>
    <p class="tab-content-details">
        The PRISMS integrated computational codes for multiscale materials modeling allow for
        fast development of large-scale numerical frameworks for various mathematical models
        of material behavior (Continuum Plasticity, Crystal Plasticity, Phase Field, Statistical
        Mechanics, DFT, etc). Our tools provide scalable high performance computing (HPC)
        capabilities for solving large-scale multiphysics problems and model integration across
        different length scales.
    </p>
    <br>
    <img src="assets/img/PRISMS_Software_Framework.png" width="40%" height="40%" align="right"></img>
    <p class="tab-content-details">
        Even better, all our tools are scheduled to be released as open source under the GNU
        Lesser General Public License (LGPL) license. You will be able to take these leading
        edge tools, peak under the hood to see how we do things, and integrate them into
        your research.
    </p>
    <br>
    <p class="tab-content-details">
        At the PRISMS-Center we strongly believe in building an active and collaborative
        research community for a sustainable development and use of our suite of material
        modeling tools. If you are interested in collaborating and participating in codes
        development head on over to our contact page and drop us a line. Building a
        community and solving hard modeling problems is important to us.
    </p>
    <br>

    <a name="dft"></a>
    <p class="tab-content-details">
        Below you can see a list of the computational codes under development, which will
        soon be released as open source. Each of these codes can be used stand alone or
        in an integrated environment. To support the integration, we also provide an
        integration framework you can use to customize and integrate these tools into your
        existing computational ecosystem.
    </p>

    <br>
    <h4>PRISMS DFT: Real Space Kohn-Sham Density Functional Theory Code</h4>
    <a href="http://www-personal.umich.edu/~vikramg/index.html" target="_blank">V. Gavini</a>,
    S. Rudraraju
    <p class="tab-content-details">
        Electronic structure calculations have played a significant role in the investigation of
        materials properties over the past few decades. In particular, the Kohn–Sham approach to
        density functional theory (DFT) has made quantum-mechanically informed calculations on
        ground-state materials properties computationally tractable, and has provided many
        important insights into a wide range of materials properties.
    </p>
    <p class="tab-content-details">
        As part of the PRISMS software suite, we are developing a finite element (FEM) based
        real-space numerical framework for modeling Kohn-Sham DFT. Our primary focus is on
        accurate electronic structure study of the energetics of defects in crystalline materials
        using computational domains (with non-periodic/semi-periodic/periodic geometries) containing
        tens of thousands of atoms. PRISMS-DFT provides us a first principles framework for determining relevant
        material properties.
    </p>
    <a name="casm"></a>
    <img src="assets/img/ctools/DFT_1.png" width="20%" height="20%"></img>
    <img src="assets/img/ctools/DFT_2.png" width="30%" height="30%"></img>
    <br>
    <br>
    <h4>CASM: Statistical Mechanics Code</h4>
    <a href="http://www.mse.engin.umich.edu/people/faculty/vanderven" target="_blank">A. Van der Ven</a>,
    B. Puchala
    <p class="tab-content-details">
        CASM, a Clusters Approach to Statistical Mechanics, is the PRISMS
        statistical mechanics software. We have released an initial private
        version for internal use and beta testing by
        trusted collaborators. This release provides functionality for symmetry
        <a name="pf"></a>
        identification, specification of composition axes, enumeration of
        symmetrically unique supercells and configurations, automatic VASP job
        submission and results collection, use of automatically determined or
        custom reference states for formation energy calculation, and convex
        hull identification.
    </p>

    <br>
    <h4>PRISMS PF: Phase Field Modeling Code</h4>
    <a href="http://www.mse.engin.umich.edu/people/faculty/thornton" target="_blank">K. Thornton</a>,
    S. Rudraraju,
    L. Aagesen
    <p class="tab-content-details">
        Phase Field Models have been central to computational modeling of complex morphological
        evolution in multiphase solids. Here at the PRISMS-Center, we are developing a massively
        scalable Phase Field modeling framework based on the deal.ii open-source <a href="https://www.dealii.org" target="_blank">finite element
        library</a> which provides extensive support for
        various finite element constructs, peta-scale grid generation with adaptivity (p4est
        adaptive octree meshes), scalable data structures and solvers. While the framework is
        expected to serve as a generic phase field library with coupled mechanics capability,
        the initial development focuses on modeling of precipitate evolution in binary and
        ternary alloys, as well as grain growth and recrystallization.
    </p>
    <a name="plasticity"></a>
    <p class="tab-content-details">
        Current code modules include matrix-free implementations of coupled Cahn-Hilliard,
        Allen-Cahn and Mechanics, with example demonstrations of spinodal decomposition,
        chemo-mechanical boundary value problems, and beta-prime precipitate evolution in
        magnesium/rare-earth binary alloys.  The parallel performance and scaling has been
        demonstrated on terascale problems with billions of degrees of freedom running on
        thousands of processors.
    </p>
    <img src="assets/img/ctools/PF_1.png" width="20%" height="20%"></img>
    <img src="assets/img/ctools/PF_2.png" width="20%" height="20%"></img>
    <br>
    <br>
    <h4>PRISMS Plasticity: Continuum Platicity and Crystal Plasticity Codes</h4>
    <a href="http://www-personal.umich.edu/~krishna/" target="_blank">K. Garikipati</a>,
    <a href="http://umich.edu/~veeras/" target="_blank">V. Sundararaghavan</a>,
    S. Rudraraju
    <p class="tab-content-details">
        The PRISMS-Plasticity code is a parallel numerical framework for modeling continuum
        scale elasto-plastic material behavior important to the multiscale materials modeling
        effort of PRISMS. PRISMS-Plasticity encompasses two sub-codes focused on modeling
        elasto-plastic deformation at the macro-scale (Continuum Plasticity) and meso-scale
        (Crystal-Plasticity). The two sub-codes are integrated under a common code base for
        Elliptic Boundary Value problems and is build on top of the
        <a href="https://www.dealii.org" target="_blank">deal.ii</a> open-source finite
        element library.
    </p>
    <p class="tab-content-details">
        Currently available models of crystal plasticity include FCC and BCC, and work is under
        progress for supporting HCP crystals. Under continuum plasticity, we currently support
        J2-flow theory with isotropic hardening, and include the following isotropic non-linear
        hyper-elastic models: Quad-Log, Neo-Hookean, St. Venant Kirchoff.
    </p>
    <img src="assets/img/ctools/Plasticity_1.png" width="30%" height="30%"></img>
    <img src="assets/img/ctools/Plasticity_2.png" width="30%" height="30%"></img>
    <img src="assets/img/ctools/Plasticity_3.png" width="50%" height="50%"></img>
    <br>
    <br>
    <h4>PRISMS-Integration Tools: IntegrationTools and IntegrationToolsWriter</h4>
    B. Puchala
    <p class="tab-content-details">
        Integration of PRISMS Codes and external codes is an important aspect of the PRISMS
        Integrated Framework. To accomplish this the IntegrationTools package was developed
        and includes the IntegrationTools header file library that defines and implements
        an API for easily passing arbitrary functions and fields, referred to as
        ‘PFunctions’ and ‘PFields’, between different software programs. A separate software
        package, IntegrationToolsWriter was also developed and includes programs that
        generate and compile the C++ code for PFunctions from symbolic mathematical
        expressions. We are using this within PRISMS to facilitate passing parameters
        between codes that operate at different scales in our integrated multi-scale model.
    </p>

    <a name="mechano"></a>
    <h3>Research Codes:</h3>
    <p class="tab-content-details">
        The following codes are being developed to support our in-house research activities
        and are currently being evaluated for suitability to our material modeling efforts.
        They currently do not have a public release schedule.
    </p>
    <br>
    <h4>PRISMS MechanoChemo: Mechano-Chemical Phase Transformations Modeling Code</h4>
    <a href="http://www-personal.umich.edu/~krishna/" target="_blank">K. Garikipati</a>,
    <a href="http://www.mse.engin.umich.edu/people/faculty/vanderven" target="_blank">A. Van der Ven</a>,
    S. Rudraraju
    <a name="pfc"></a>
    <p class="tab-content-details">
        We are developing a modeling approach for phase transformations that are driven by
        free energies that are non-convex in the strain-composition space by using a coupled
        formulation of finite strain mechanics and diffuse interface theories
        (Cahn-Hilliard and Allen-Cahn). This work is expected to support the PRISMS material
        modeling efforts on two fronts: (I) Provide an alternative model for studying
        precipitate evolution, and (II) Provide a framework for capturing the complex
        kinematics of twin microstructure formation.
    </p>
    <br>

    <h4>PRISMS PFC: Phase Field Crystal Modeling Code</h4>
    <a href="http://www.mse.engin.umich.edu/people/faculty/thornton" target="_blank">K. Thornton</a>
    <p class="tab-content-details">
        The Phase Field Crystal (PFC) model is a simulation approach that can model crystalline
        materials with atomistic resolution but at a diffusive timescale. We are currently
        working on developing an in-house research code.
    </p>
</div>
