<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        PRISMS Research Tools
    </h2>
    <br>
    <p class="tab-content-details">
        The PRISMS center has developed a number of tools and techniques
        to enable our scientific research. The tools listed on this page
        may be open sourced in the future. If you are interested in learning
        more about them, and possibly collaborating head on over to our
        <a ui-sref="ctools.collaborate">collaboration</a> page and drop us
        a line.
    </p>
    <br>

    <h4>SEM-DIC</h4>
    <p class="tab-content-details">
        The Daly group has developed (under DOE-BES Award No. DE-SC0003996 and NSF
        Grant No. 092753) a means for full-field, high resolution mapping of
        deformations at the microstructural length scale using a combination of
        scanning electron microscopy and digital image correlation (termed here as
        SEM-DIC). The Daly group created chemically functionalized nanoparticle
        self-assembly methods for unprecedented spatial resolution, and developed
        <img src="assets/img/science/twin_edit_daly.png"
             width="50%"
             height="50%"
             align="right"></img>
        a framework originally proposed by Sutton et al. (Sutton et al.,
        Experimental Mechanics, 2007, 2-part paper series) to correct for the
        complex spatial and temporal distortions inherent in SEM imaging. These
        techniques, combined with corrections for stress relaxation and
        hardware/software developments for various thermo-mechanical testing
        parameters, enable the acquisition of highly accurate and statistically
        relevant sub-grain measurements of deformation. Distortion-corrected
        SEM-DIC provides the accuracy, spatial resolution, and large amounts of
        data needed to perform quantitative characterization linking
        microstructure to deformation.
    </p>
    <br>
    <h4>High Resolution Characterization</h4>
    <p class="tab-content-details">
        Atomic scale alloy microstructures are investigated using atom probe tomography
        (APT) and high angle annular dark field (HAADF) scanning transmission electron microscopy
        (STEM). Full descriptions of the internal atomic structure, chemistry, interface structure,
        number density, size distributions and 3D morphologies of precipitates may be obtained from
        the complementarity of the two imaging and analysis techniques. To this end, robust and
        efficient quantification methodologies of the data are being developed.
    </p>
    <video src="assets/media/3minAlloyE.mp4" controls>
    </video>
    <p class="tab-content-details">
        A 3D APT data showing the very high density of nanoscale b” and b’ precipitates formed in a
        Mg-Nd binary alloys after aging at 250oC for 3 minutes, from which orientation, aspect ratios,
        number density, size distributions can be obtained. Red is a Nd isodensity surface
        (0.3 atoms per nm^3), blue are 0.5% of the Mg atoms. (Movie courtesy of Vicente Araullo-Peters).
    </p>
    <img src="assets/img/tools/HAADF_STEM.png"
         width="25%"
         height="25%">
    </img>
    <p class="tab-content-details">
        HAADF STEM image of b’ precipitates formed in a Mg-Nd binary alloy after aging at 250oC for 15 minutes
        showing the internal structure and interface coherency. The three <1-100> directions are shown.
        (Image courtesy of Ellen Sitzmann).
    </p>
    <br>
</div>
