<div class="software-area">
    <h2 style="padding-top: 120px; margin-top: -70px;">
        PRISMS Research Tools
    </h2>
    <br>
    <p class="tab-content-details">
        The PRISMS center has developed a number of tools and techniques
        to enable our scientific research. The tools listed on this page
        may be open sourced in the future. If you are interested in learning
        more about them, and possibly collaborating head on over to our
        <a ui-sref="ctools.collaborate">collaboration</a> page and drop us
        a line.
    </p>
    <br>

    <h4>SEM-DIC</h4>
    <p class="tab-content-details">
        The Daly group has developed (under DOE-BES Award No. DE-SC0003996 and NSF
        Grant No. 092753) a means for full-field, high resolution mapping of
        deformations at the microstructural length scale using a combination of
        scanning electron microscopy and digital image correlation (termed here as
        SEM-DIC). The Daly group created chemically functionalized nanoparticle
        self-assembly methods for unprecedented spatial resolution, and developed
        <img src="assets/img/science/twin_edit_daly.png"
             width="50%"
             height="50%"
             align="right"></img>
        a framework originally proposed by Sutton et al. (Sutton et al.,
        Experimental Mechanics, 2007, 2-part paper series) to correct for the
        complex spatial and temporal distortions inherent in SEM imaging. These
        techniques, combined with corrections for stress relaxation and
        hardware/software developments for various thermo-mechanical testing
        parameters, enable the acquisition of highly accurate and statistically
        relevant sub-grain measurements of deformation. Distortion-corrected
        SEM-DIC provides the accuracy, spatial resolution, and large amounts of
        data needed to perform quantitative characterization linking
        microstructure to deformation.
    </p>
</div>
