<!-- Begin page content -->
<div class="main_container">

    <!--Mainpage Picture-->
    <div class="main_pic">
        <h1></h1>
    </div>
</div>

<div class="container">
    <!--Main Area-->
    <div class="main_area">
        <!-- circle flowchart-->
        <div class="main_top row">
            <div id="circles" class="col-xs-4">
                <div ng-click="viewCircle('mc')" class="circle circle_mc transparent">
                    <div class="circle_text">
                        <h4>The Materials Commons</h4>
                    </div>
                </div>
                <div ng-click="viewCircle('ct')" class="circle circle_code transparent">
                    <div class="circle_text">
                        <h4 style="padding-top: 4px;">PRISMS Computational <br>Tools</h4>
                    </div>
                </div>
                <div ng-click="viewCircle('les')" class="circle circle_sci transparent">
                    <div class="circle_text">
                        <h4 style="padding-top: 4px;">Integrated Collaborative Science</h4>
                    </div>
                </div>
                <span id='indicator'>
                    <p style="position: absolute; bottom: 0; right: 0; font-size: 11px; color: #777;">
                        *<em> Click circle to see details</em>
                    </p>
                </span>
            </div>
            <!-- circle description-->
            <div id="circles_description" class="col-xs-8">
                <div ng-hide="info !== 'default'">
                    <h2>Integrated, Focused, Open</h2>

                    <p>
                        At the PRISMS Center integration drives everything we do. Our science is integrated with our
                        computational codes and with the results from our experimentalists who identify new phenomena
                        and fill in missing details. Our Materials Commons repository allows groups to collaborate and
                        share data and provide it to the broader technical community. And our computational software is
                        seamlessly integrating the latest multi-length scale scientific software into open source codes.
                    </p>

                </div>
                <div ng-show="info == 'les'">
                    <h2>Integrated, Collaborative Science</h2>

                    <p>
                        Developing computational codes that help to model the real world is hard. Our
                        approach teams experimental researchers with computationalists to produce models
                        and codes that address real world problems. Our teams of researchers are broken
                        in to groups around different use cases. The use cases drive the experiments
                        and models. They help us to link experiments with the simulations, validate the
                        models, and improve the codes.
                    </p>
                    <a ui-sref="science.overview" class="main_link">Learn More >></a>
                </div>
                <div ng-show="info == 'ct'">
                    <h2>PRISMS Computational Tools</h2>

                    <p ng-if="false">
                        The PRISMS Computational Tools suite is an integrated set of codes for
                        writing large scale models that pass data across the different length scales. Our
                        tools are open source, integrated and extensible.

                    </p>
                    <p>
                        The PRISMS Center software development is based on an integrated suite of multiscale/multiphysics
                        computational codes developed by the various research groups affiliated with the center and are
                        facilitated by the research staff and faculty in a highly collaborative environment.
                    </p>
                    <a ui-sref="ctools.overview" class="main_link">Learn More >></a>
                </div>
                <div ng-show="info == 'mc'">
                    <h2>The Materials Commons</h2>

                    <p>
                        Materials Commons is a data repository and collaboration platform. It allows researchers
                        to collaborate, tracks the history of your data (provenance tracking) and provides a
                        powerful model for viewing your data. We use the Materials Commons to facilitate our
                        research by storing our data and using it to track our research. We've put a lot of
                        effort into making sure it integrates with other tool sets.
                    </p>
                    <a ui-sref="mcommons.overview" class="main_link">Learn More >></a>
                </div>
            </div>
        </div>
        <div ng-if="info === 'default'" class="main-top row tab-content-details">
            <div style="padding-right: 96px">
                <p>
                    The PRISMS Center has three primary thrusts that work together to support each other. They are:
                </p>
                <ul>
                    <li>Integrated Science – focuses experimental and computational approaches on important
                        demonstration problems.
                    </li>
                    <li>Computational Tools - an integrated framework of open-source multi-scale simulation
                        software.
                    </li>
                    <li>Materials Commons – a unique repository that enables collaboration, seamless capture of
                        important findings and community building
                    </li>
                </ul>
            </div>
        </div>
        <!--End of Main Top-->

        <div class="main_middle row">
            <!-- Overview -->
            <div class="overview col-xs-12">
                <div class="">
                    <h2 class="tab-content-title" id="overview">About PRISMS</h2>
                    <div class="row">
                        <div class="col-xs-9 tab-content-details">
                            PRISMS is short for PRedictive Integrated Structural Materials Science. Combining the
                            efforts of
                            experimental and computational researchers, the overarching goal of the PRISMS Center is to
                            establish a unique scientific platform that will enable accelerated predictive materials
                            science
                            for structural metals. Our ambitious vision is that the PRISMS tools and protocols will
                            become a
                            community-developed, extensible scientific core for accelerating the development of new
                            materials as envisioned by the Materials Genome Initiative (include link here). The
                            Materials
                            Genome Initiative is President Barack Obama’s plan to double the speed with which American
                            scientists and engineers discover, develop, and manufacture new materials.
                        </div>
                        <div class="col-xs-3">
                            <img src="assets/img/center_computing_resources.jpeg" height="90%" width="90%">
                        </div>
                    </div>
                    <br>
                    <h2 class="tab-content-title anchor" id="funding">Funding</h2>

                    <p class="tab-content-details">
                        Our Center is formally known as the Department of Energy (DOE) Software Innovation Center for
                        Integrated Multi-Scale Modeling of Structural Metals. The PRISMS Center is one of several such
                        centers that DOE-Basic Energy Science (BES) supports as part of the
                        <a class="main_link" href="http://www.whitehouse.gov/mgi" target="_blank">Materials Genome Initiative</a>
                        to encourage and support development of open-source computational tools and repositories
                        and facilitate large-scale community involvement. It is funded as part of the DOE-BES Predictive
                        Theory and Modeling program with a five year $11M grant. The PRISMS Center has leveraged this
                        with over $1.5M of University of Michigan internal cost-shared resources provided by UM Office
                        of Research, UM College of Engineering and the five departments and eleven faculty involved in
                        the center. This work was supported by the U.S. Department of Energy, Office of Basic Energy Sciences, Division of Materials Sciences and Engineering under Award #DE-SC0008637.
                    </p>

                    <br><br>
                </div>
            </div>
            <!--End of Overview-->
        </div>
        <!--End of Main Middle-->
    </div>
</div>
<script type="text/JavaScript">
 $(document).ready(function () {
     $('.circle').click(function () {
         //$('#indicator').hide();
         $(this).siblings().css('opacity', 0.7)
                    .removeClass('cover');
         $(this).css('opacity', 1)
                    .addClass('cover');
         $('#circles_description').css('padding-top', '1em')
                    .css('padding-bottom', '1em');

         if ($(this).attr('id') == 'circle_sci') {
             $('#circle_description_sci').siblings().hide();
             $('#circle_description_sci').fadeIn("slow");
         }
         else if ($(this).attr('id') == 'circle_mc') {
             $('#circle_description_mc').siblings().hide();
             $('#circle_description_mc').fadeIn("slow");
         }
         else if ($(this).attr('id') == 'circle_code') {
             $('#circle_description_code').siblings().hide();
             $('#circle_description_code').fadeIn("slow");
         }

     });
 });
</script>
