<!-- Begin page content -->
<div class="main_container">

    <!--Mainpage Picture-->
    <div class="main_pic">
        <h1></h1>
    </div>
</div>

<div class="container">
    <!--Main Area-->
    <div class="main_area">
        <!-- circle flowchart-->
        <div class="main_top row">
            <div id="circles" class="col-xs-4">
                <div ng-click="viewCircle('mc')" class="circle circle_mc transparent">
                    <div class="circle_text">
                        <h4>The Materials Commons</h4>
                    </div>
                </div>
                <div ng-click="viewCircle('ct')" class="circle circle_code transparent">
                    <div class="circle_text">
                        <h4 style="padding-top: 4px;">PRISMS Computational <br>Tools</h4>
                    </div>
                </div>
                <div ng-click="viewCircle('les')" class="circle circle_sci transparent">
                    <div class="circle_text">
                        <h4 style="padding-top: 4px;">Integrated Collaborative Science</h4>
                    </div>
                </div>
                <span id='indicator'>
                    <p style="position: absolute; bottom: 0; right: 0; font-size: 11px; color: #777;">
                        *<em> Click circle to see details</em>
                    </p>
                </span>
            </div>
            <!-- circle description-->
            <div id="circles_description" class="col-xs-8">
                <div ng-hide="info">
                    <h2>Integrated, Focused, Open</h2>
                        <p>
                            The PRISMS Center is built around 3 focus areas. These
                            drive everything we do. All 3 areas are integrated together
                            to make sure each is supporting the others.
                        </p>
                        <ul>
                            <li>Integrated Science combines experimental and computational approaches.</li>
                            <li>Computational Tools is an open source framework of integrated, multi-scale tools</li>
                            <li>Materials Commons provides collaboration and storage</li>
                        </ul>
                </div>
                <div ng-show="info == 'les'">
                    <h2>Integrated Science</h2>

                    <p>Combining the efforts of computational and experimental researchers, the goal of this Center is
                        development of an integrated suite of validated computational tools that are designed to
                        accelerate the development of new structural metals.
                    </p>
                    <ul>
                        <li>Linking Experiments &amp; Simulations</li>
                        <li>Advanced Quantitative Experiments</li>
                        <li>Use Cases<br>- Microstructural Evolution<br>- Mechanical Behavior</li>
                    </ul>
                    <a ui-sref="about.science" class="main_link">MORE >></a>
                </div>
                <div ng-show="info == 'ct'">
                    <h2>PRISMS Computational Tools</h2>

                    <p>
                        The PRISMS Computational Tools suite is an integrated set of codes for
                        writing large scale models that pass data across the different length scales.
                        The tools are based on standards such as DEAL.II and ParaDIS while adding
                        new models.
                    </p>
                    <ul>
                        <li>Open Source</li>
                        <li>Integrated Hierarchical Multi-Scale</li>
                        <li>Computationally Efficient</li>
                        <li>Extensible</li>
                    </ul>
                    <a ui-sref="about.ctools" class="main_link">MORE >></a>
                </div>
                <div ng-show="info == 'mc'">
                    <h2>The Materials Commons</h2>

                    <p>
                        Materials Commons is a data repository and collaboration platform. It allows researchers
                        to collaborate, tracks the history of your data (provenance tracking) and provides a
                        powerful model for viewing your data.
                    </p>
                    <ul>
                        <li>Collaboration</li>
                        <li>Experimental &amp; Simulation Information</li>
                        <li>Seamless, Continuous</li>
                        <li>Workflow</li>
                        <li>Provenance Tracking</li>
                    </ul>
                    <a ui-sref="about.mcommons" class="main_link">MORE >></a>
                </div>
            </div>
        </div>
        <!--End of Main Top-->

        <div class="main_middle row">
            <!-- Overview -->
            <div class="overview col-xs-12">
                <h2>Overview</h2>

                <p>
                    Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale
                    Modeling of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated
                    Structural Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible
                    scientific core of the Integrated Computational Materials Engineering.
                </p>

                <div class="">
                    <h2 style="padding-top: 120px; margin-top: -70px;" class="tab-content-title" id="overview">About
                        PRISMS</h2>

                    <p class="tab-content-details">
                        Combining the efforts of computational and experimental researchers, the goal of this Center is
                        development of an integrated suite of validated computational tools that are designed to
                        accelerate the
                        development of new structural metals.</p>

                    <p class="tab-content-details">
                        Our Center is formally known as the DOE Software Innovation Center for Integrated Multi-Scale
                        Modeling
                        of Structural Metals. We call it PRISMS for short which stands for PRedictive Integrated
                        Structural
                        Materials Science. Our ambitious goal is for our PRISMS tools to be the extensible scientific
                        core of
                        the Integrated Computational Materials Engineering.
                    </p>
                    <br>

                    <div class="anchor">
                        <h2 class="tab-content-title" id="goal">Goal</h2>

                        <p class="tab-content-details">
                            The goals of our Center are:
                        </p>
                        <ol>
                            <li class="about_list">
                                Establish an Integrated Multi-Scale Modeling Framework and Open Source Software (PRISMS)
                            </li>
                            <li class="about_list">
                                Develop Advanced Open Source Computational Methods
                            </li>
                            <li class="about_list">
                                Tightly Couple Experiments and Models
                            </li>
                            <li class="about_list">
                                Application and Validation – PRISMS Demonstrator: Magnesium, Fatigue & Ductility
                            </li>
                            <li class="about_list">
                                Establish the Materials Commons: An Open Source Knowledge Repository and Virtual
                                Collaboration
                                Platform for the PRISMS Community
                            </li>
                        </ol>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="tab-content-title anchor" id="research">Research</h2>
                        </div>
                        <div class="col-xs-9">
                            <p class="tab-content-subtitle">Center Computing Resources</p>

                            <p class="tab-content-details">The PRISMS Center has a dedicated 2072 core cluster for
                                running our
                                models on. The cluster will be shared by our different research groups as they develop
                                our
                                advanced open source computational models.ntegrated Computational Materials Engineering.
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <img src="assets/img/center_computing_resources.jpeg" height="80%" width="80%">
                        </div>
                        <br><br><br>
                    </div>
                    <br>

                    <h2 class="tab-content-title anchor" id="funding">Funding</h2>

                    <p class="tab-content-details"> The Center is funded by a five year $11M grant from Department of
                        Energy
                        Basic Energy Science. This has been coupled with $1.5M in cost-shared from UM, College of
                        Engineering
                        and the faculty and departments involved. The funding comes from the <a class="main_link"
                                                                                                href="http://www.whitehouse.gov/mgi"
                                                                                                target="_blank">Materials
                        Genome
                        Initiative</a>, President Obama’s plan to double the speed with which American scientists
                        and
                        engineers discover, develop, and manufacture new materials.
                    </p>
                    <br><br>
                </div>
                <!--<a ui-sref="about.overview" class="main_link">MORE >></a>-->
            </div>
            <!--End of Overview-->
        </div>
        <!--End of Main Middle-->
    </div>
</div>
<script type="text/JavaScript">
 $(document).ready(function () {
     $('.circle').click(function () {
         //$('#indicator').hide();
         $(this).siblings().css('opacity', 0.7)
                    .removeClass('cover');
         $(this).css('opacity', 1)
                    .addClass('cover');
         $('#circles_description').css('padding-top', '1em')
                    .css('padding-bottom', '1em');

         if ($(this).attr('id') == 'circle_sci') {
             $('#circle_description_sci').siblings().hide();
             $('#circle_description_sci').fadeIn("slow");
         }
         else if ($(this).attr('id') == 'circle_mc') {
             $('#circle_description_mc').siblings().hide();
             $('#circle_description_mc').fadeIn("slow");
         }
         else if ($(this).attr('id') == 'circle_code') {
             $('#circle_description_code').siblings().hide();
             $('#circle_description_code').fadeIn("slow");
         }

     });
 });
</script>
